.edit-route {
    .inline-stats {
        z-index: 0;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 5px;
        padding-left: 25px;
        padding-bottom: 5px;
        padding-right: 25px;
        highcharts-container {
            width: 100%;
        }
    }
    google-map {
        width: 100%;
        height: 95%;
        .angular-google-map {
            width: 100%;
            height: 95%;
            img {
                max-width: inherit;
            }
            .angular-google-map-container {
                width: 100%;
                height: 100%;
            }
        }
    }
}