div(class="container create-workout")
	div(class="row")
		div(class="col-md-4 col-md-offset-4")
			h3(class="text-center" translate) Organiser une sortie
			form(class="form-horizontal" role="form" name="workoutEventForm" novalidate)
				
				div(class="form-group" ng-class="{'has-error':!workoutEventForm.name.$pristine && workoutEventForm.name.$invalid, 'has-success': !workoutEventForm.name.$invalid && !workoutEventForm.name.$pristine}")
					label(class="control-label") {{'Titre de la sortie' | translate}}
					input(class="form-control" type="text" name="name" placeholder="{{'ex: Sortie entre amis' | translate}}" ng-model="workout.name" ng-required="true")

				div(class="form-group" ng-class="{'has-error':!workoutEventForm.guests.$pristine && workoutEventForm.guests.$invalid, 'has-success': !workoutEventForm.guests.$invalid && !workoutEventForm.guests.$pristine}")
					label(class="control-label") {{'Inviter' | translate}}
					nr-email-list(class="form-control" ng-model="workout.guests" rejected="rejects" repeat="repeats" name="guests" placeholder="{{'martin@gmail.com,jean@yahoo.com' | translate}}" ng-required="true")
					
					span(class="help-block" ng-show="workoutEventForm.guests.$error.emailList" translate) Email invalide

					span(class="help-block" ng-show="workoutEventForm.guests.$error.email && rejects.length === 1" translate) Cet email est incorrect {{rejects[0]}}
					span(class="help-block" ng-show="workoutEventForm.guests.$error.email && rejects.length > 1" translate) Ces emails sont incorrects {{rejects.join(', ')}}

					span(class="help-block" ng-show="workoutEventForm.guests.$error.repeat && repeats.length === 1" translate) Cet email est incorrect {{repeats[0]}}
					span(class="help-block" ng-show="workoutEventForm.guests.$error.repeat && repeats.length > 1" translate) Ces emails sont répétés {{repeats[0]}}


				div(class="form-group" ng-class="{'has-error':!workoutEventForm.date.$pristine && workoutEventForm.date.$invalid, 'has-success': !workoutEventForm.date.$invalid && !workoutEventForm.date.$pristine}")
					label(class="control-label") {{'Date' | translate}}
					input(type="text" class="form-control" ng-model="workout.date" name="date" bs-datepicker startWeek="1" date-format="dd MMMM yyyy" placeholder="{{'Date' | translate}}" ng-required="true")

				div(class="form-group" ng-class="{'has-error':!workoutEventForm.time.$pristine && workoutEventForm.time.$invalid, 'has-success': !workoutEventForm.time.$invalid && !workoutEventForm.time.$pristine}")
					label(class="control-label") {{'Heure' | translate}}
					input(type="text" placeholder="{{'Heure' | translate}}" class="form-control" name="time" size="5" ng-model="workout.time" bs-timepicker data-time-format="HH:mm" data-autoclose="1" ng-required="true")

				div(class="form-group" ng-class="{'has-error': !workoutEventForm.place.$pristine && workoutEventForm.place.$error.validLocation && workoutEventForm.place.$invalid, 'has-success': !workoutEventForm.place.$error.validLocation && workoutEventForm.place.$valid  && !workoutEventForm.place.$pristine}")
					label(class="control-label") {{'Adresse du départ' | translate}}
					input(class="form-control" type="text" name="place" placeholder="{{'ex: 3 rue de la République 31000 Toulouse' | translate}}" ng-model="workout.place.name" nr-has-location gmaps-autocomplete options="options" details="workout.place" ng-required="true")

				div(class="form-group")
					label(class="control-label") Description
					textarea(class="form-control" name="description" ng-model="workout.description" rows="3" placeholder="{{'description' | translate}}")
									
				button(class="btn btn-primary pull-right" ng-click="submit()" ng-disabled="workoutEventForm.$invalid" translate) Continuer
			