div(class="container actions")
	div(class="row")
		div(class="col-lg-4")
			div(class="text-center")
				h3(translate) Organiser une sortie entre amis

				button(class="btn btn-primary btn-lg" ng-click="goToNewWorkout()" translate) Commencer maintenant !
			
		div(class="col-lg-4")
			div(class="text-center")
				h3(translate) Tracer un parcours &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				button(class="btn btn-primary btn-lg" ng-click="goToNewRoute()" translate) Commencer maintenant !
			
		div(class="col-lg-4")
			div(class="text-center")
				h3(translate) Organiser une manifestation officielle
				
				button(class="btn btn-primary btn-lg" ng-click="goToNewRace()" translate) Commencer maintenant !