div(class="container actions")
	div(class="row")
		div(class="col-lg-4")
			div(class="text-center")
				h4(translate) Organiser une sortie

				button(class="btn btn-primary btn-lg" ui-sref="newWorkout" translate) Commencer maintenant !
			
		div(class="col-lg-4")
			div(class="text-center")
				h4(translate) Créer un parcours

				button(class="btn btn-primary btn-lg" ui-sref="newRoute" translate) Commencer maintenant !
			
		div(class="col-lg-4")
			div(class="text-center")
				h4(translate) Organisation une manifestation
				
				button(class="btn btn-primary btn-lg" ui-sref="newRace" translate) Commencer maintenant !