div(class="carousel")
	carousel(interval="5000")
		slide
			div(class="row")
				div(class="col-lg-5 col-lg-offset-1")
					h2(translate) Organiser une sortie
					p(translate) Inviter vos amis pour une sortie vélo, trail, vtt...
				div(class="col-lg-6")
					iframe(src="//www.youtube.com/embed/oT3QJI3-o8c" frameborder="0" allowfullscreen)
		slide
			div(class="row")
				div(class="col-lg-5 col-lg-offset-1")
					h2(translate) Créer un parcours
					p(translate) Analyser le détail de vos parcours (dénivelé, altitude, distance...)
				div(class="col-lg-6")
					iframe(src="//www.youtube.com/embed/5QRkgWdwbJw" frameborder="0" allowfullscreen)
		slide
			div(class="row")
				div(class="col-lg-5 col-lg-offset-1")
					h2(translate) Organiser une manifestation officielle
					p(translate) Promouvoir une épreuve officielle en quelques clics.
				div(class="col-lg-6")
					iframe(src="//www.youtube.com/embed/5El89jBPGGE" frameborder="0" allowfullscreen)
		slide
			div(class="row")
				div(class="col-lg-5 col-lg-offset-1")
					h2(translate) Toutes les épreuves d'endurance rassemblées sur un même site
					p(translate) Triathlon , Trail, VTT, Cyclo...
				div(class="col-lg-6")
					img(class="img-responsive" alt="slide3" src="client/modules/home/images/edit_screenshot.png")


					