div(class="container")
	carousel(interval="5000")
		slide
			div(class="row")
				div(class="col-lg-5 col-lg-offset-1")
					h2(translate) Toutes les épreuves d'endurance rassemblées sur un même site
					p(translate) Triathlon , Trail, VTT, Cyclo...
				div(class="col-lg-6")
					iframe(src="//www.youtube.com/embed/t7xmvmTFacw" frameborder="0" allowfullscreen)
		slide
			div(class="row")
				div(class="col-lg-5 col-lg-offset-1")
					h2(translate) Trouver et préparer votre course
					p(translate) Analyser le détail du parcours (dénivelé, altitude, distance...)
				div(class="col-lg-6")
					img(class="img-responsive" alt="slide2" src="client/modules/main/images/show_screenshot.png")
		slide
			div(class="row")
				div(class="col-lg-5 col-lg-offset-1")
					h2(translate) Promouvoir votre manifestation
					p(translate) Détailler l'ensemble de votre manifestion (parcours, organisation, nombre de places...)
					button(class="btn btn-primary btn-lg" ng-click="goToNewRace()" translate) Commencer maintenant !
				div(class="col-lg-6")
					img(class="img-responsive" alt="slide3" src="client/modules/main/images/edit_screenshot.png")