div(class="container marketing")
	div(class="row")
		div(class="col-lg-4")
			div(class="text-center")
				h2(translate) Pourquoi ?
			p(translate)
				| - Difficile de trouver une manifestation.
			p(translate)
				| - Rarement le <strong>détail du parcours</strong> et 
				| son <strong>dénivelé</strong>.
			p(translate)
				| - Peu de retour d'expériences.
			p(translate)
				| - Difficultés à obtenir les <strong>résultats</strong>.
			p(translate)
				| - Ne pas être au courant d'une course près de chez soi.
		div(class="col-lg-4")
			div(class="text-center")
				h2(translate) Athlètes
			p(translate)
				| - Trouver l'épreuve qui correspond
				| à votre objectif.
			p(translate)
				| - Analyser le détail du parcours:
				| distance, <strong>dénivelé</strong>, difficultés.
			p(translate)
				| - Exporter le fichier <strong>GPX</strong> et aller faire
				| une reconnaissance du parcours.
			p(translate)
				| - Donner votre avis sur les épreuves
				| et partager votre expérience.
			p(translate)
				| - Retrouver toutes les informations sur 
				| l'épreuve: organisation, plan, règlements...
			p(translate)
				| - Inscription en ligne.
		div(class="col-lg-4")
			div(class="text-center")
				h2(translate) Organisateurs
			p(translate)
				| - Promouvoir votre manifestation en quelques clics.
			p(translate)
				| - Tracer vos parcours avec <strong>Google Maps</strong> ou importer un fichier .gpx.
			p(translate)
				| - Détailler toutes les informations utiles: prix , nombre de places, horaires...
			p(translate)
				| - Publier les <strong>résultats</strong>.