div.row
	div.col-lg-4
		div.text-center
			h2 {{'Pourquoi ?' | translate}}
		p
			| - {{'Difficile de trouver une manifestation.' | translate}}
		p 
			| - Rarement le <strong style="color:#428bca">détail du parcours</strong> et 
			| son <strong style="color:#428bca">dénivelé</strong>.
		p
			| - {{'Peu de retour d'expériences.' | translate }}
		p
			| - {{'Difficultés à obtenir les' | translate }} <strong style="color:#428bca">{{'résultats' | translate}}</strong>.
		p
			| - {{'Ne pas être au courant d'une course près de chez soi.' | translate}}

	div.col-lg-4
		div.text-center
			h2 {{'Athlètes' | translate}}
		p
			| - Trouver l'épreuve qui correspond 
			| à votre objectif.
		p
			| - Analyser le détail du parcours: 
			| distance, <strong style="color:#428bca">dénivelé</strong>, difficultés.
		p
			| - Exporter le fichier <strong style="color:#428bca">GPX</strong> et aller faire 
			| une reconnaissance du parcours.
		p
			| - Donner votre avis sur les épreuves
			| et partager votre expérience.
		p
			| - Retrouver toutes les informations sur 
			| l'épreuve: organisation, plan, règlements...
		p
			| - Inscription en ligne.
	div.col-lg-4
		div.text-center
			h2 Organisateurs
		p
			| - Promouvoir votre manifestation en quelques clics.
		p
			| - Tracer vos parcours avec <strong style="color:#428bca">Google Maps</strong> ou importer un fichier .gpx.
		p
			| - Détailler toutes les informations utiles : prix , nombre de places, horaires...
		p
			| - Publier les <strong style="color:#428bca">résultats</strong>.
		button.btn.btn-primary.btn-lg(ng-click="goToNewRace()") Commencer maintenant !