doctype html
html(ng-app="nextrunApp" prefix="og:http://ogp.me/ns#" ng-controller='MainController')

    <!-- build:js(client) client/scripts/widgets/google-analytics.min.js -->
    script(src="/widgets/google-analytics.js")
    <!-- endbuild -->

    head

        base(href="/")
    
        include layouts/meta

        link(rel="icon" type="image/png" href="client/modules/main/images/logo_officiel.png")

        link(rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/libraries.min.css")
        link(rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/main.min.css")

        <!-- build:css(server/views) client/styles/vendor.min.css -->
        // bower:css
        link(rel='stylesheet', href='../../client/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='../../client/bower_components/bootstrap-additions/dist/bootstrap-additions.min.css')
        link(rel='stylesheet', href='../../client/bower_components/font-awesome/css/font-awesome.css')
        link(rel='stylesheet', href='../../client/bower_components/angular-motion/dist/angular-motion.css')
        link(rel='stylesheet', href='../../client/bower_components/angular-loading-bar/build/loading-bar.css')
        link(rel='stylesheet', href='../../client/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css')
        link(rel='stylesheet', href='../../client/bower_components/pnotify/pnotify.core.css')
        link(rel='stylesheet', href='../../client/bower_components/pnotify/pnotify.buttons.css')
        link(rel='stylesheet', href='../../client/bower_components/pnotify/pnotify.history.css')
        link(rel='stylesheet', href='../../client/bower_components/ngImgCrop/compile/minified/ng-img-crop.css')
        // endbower
        link(rel='stylesheet', href='../../client/bower_components/Bootflat/bootflat/css/bootflat.css')
        <!-- endbuild -->

        <!-- build:css({.tmp,client}) client/styles/main.min.css -->
        link(rel="stylesheet" href="/styles/main.css")
        <!-- endbuild -->

    body(data-status="{{status}}")
        include layouts/body

        script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDO7NB1T_gtfTVVorh0jsUyaXNkWjHn958&sensor=false&v=3.17")

        <!-- build:js(server/views) client/scripts/vendor.min.js -->
        // bower:js
        script(src='../../client/bower_components/jquery/dist/jquery.js')
        script(src='../../client/bower_components/angular/angular.js')
        script(src='../../client/bower_components/angular-cookies/angular-cookies.js')
        script(src='../../client/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
        script(src='../../client/bower_components/angular-sanitize/angular-sanitize.js')
        script(src='../../client/bower_components/underscore/underscore.js')
        script(src='../../client/bower_components/angular-google-maps/dist/angular-google-maps.js')
        script(src='../../client/bower_components/angular-gettext/dist/angular-gettext.js')
        script(src='../../client/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='../../client/bower_components/highcharts-release/highcharts.js')
        script(src='../../client/bower_components/highcharts-release/highcharts-more.js')
        script(src='../../client/bower_components/highcharts-release/modules/exporting.js')
        script(src='../../client/bower_components/highcharts-ng/dist/highcharts-ng.js')
        script(src='../../client/bower_components/moment/moment.js')
        script(src='../../client/bower_components/x2js/xml2json.min.js')
        script(src='../../client/bower_components/angular-animate/angular-animate.js')
        script(src='../../client/bower_components/angular-strap/dist/angular-strap.js')
        script(src='../../client/bower_components/angular-strap/dist/angular-strap.tpl.js')
        script(src='../../client/bower_components/textAngular/dist/textAngular.min.js')
        script(src='../../client/bower_components/angular-x2js/dist/x2js.min.js')
        script(src='../../client/bower_components/angular-loading-bar/build/loading-bar.js')
        script(src='../../client/bower_components/bootstrap-switch/dist/js/bootstrap-switch.js')
        script(src='../../client/bower_components/angular-bootstrap-switch/dist/angular-bootstrap-switch.js')
        script(src='../../client/bower_components/angular-easyfb/angular-easyfb.js')
        script(src='../../client/bower_components/pnotify/pnotify.core.js')
        script(src='../../client/bower_components/pnotify/pnotify.buttons.js')
        script(src='../../client/bower_components/pnotify/pnotify.callbacks.js')
        script(src='../../client/bower_components/pnotify/pnotify.confirm.js')
        script(src='../../client/bower_components/pnotify/pnotify.desktop.js')
        script(src='../../client/bower_components/pnotify/pnotify.history.js')
        script(src='../../client/bower_components/pnotify/pnotify.nonblock.js')
        script(src='../../client/bower_components/angular-pnotify/src/angular-pnotify.js')
        script(src='../../client/bower_components/angular-ui-router/release/angular-ui-router.js')
        script(src='../../client/bower_components/angular-upload/angular-upload.js')
        script(src='../../client/bower_components/ui-router-extras/release/ct-ui-router-extras.js')
        script(src='../../client/bower_components/ngImgCrop/compile/minified/ng-img-crop.js')
        // endbower
        script(src='../../client/i18n/angular-locale_fr-fr.js')

        script(src='https://bootflat.github.io/bootflat/js/icheck.min.js')
        script(src='https://bootflat.github.io/bootflat/js/jquery.fs.selecter.min.js')
        script(src='https://bootflat.github.io/bootflat/js/jquery.fs.stepper.min.js')
        <!-- endbuild -->

        
        <!-- routingConfig.js is not minified and not concatenated -->
        script(src="/routingConfig.js")

        <!-- build:js(client) client/scripts/widgets/socialbuttons.min.js -->
        script(src="/widgets/socialbuttons.js")
        <!-- endbuild -->

        <!-- build:js(client) client/scripts/route.min.js -->
        script(src="/modules/route/scripts/route.js")
        script(src="/modules/route/scripts/services/elevationService.js")
        script(src="/modules/route/scripts/services/gpxService.js")
        script(src="/modules/route/scripts/services/markerService.js")
        script(src="/modules/route/scripts/services/polylineService.js")
        script(src="/modules/route/scripts/services/routeHelperService.js")
        script(src="/modules/route/scripts/services/routeBuilderService.js")
        script(src="/modules/route/scripts/services/routeUtilsService.js")
        script(src="/modules/route/scripts/services/segmentService.js")
        script(src="/modules/route/scripts/routeBuilder.js")
        script(src="/modules/route/scripts/controllers/editRouteController.js")
        script(src="/modules/route/scripts/controllers/routesController.js")
        <!-- endbuild -->

        <!-- build:js(client) client/scripts/auth.min.js -->
        script(src="/modules/auth/scripts/auth.js")
        script(src="/modules/auth/scripts/controllers/forgotPasswordModalController.js")
        script(src="/modules/auth/scripts/controllers/loginController.js")
        script(src="/modules/auth/scripts/controllers/settingsController.js")
        script(src="/modules/auth/scripts/controllers/signupController.js")
        script(src="/modules/auth/scripts/controllers/usersController.js")
        <!-- endbuild -->

        <!-- build:js(client) client/scripts/home.min.js -->
        script(src="/modules/home/scripts/home.js")
        script(src="/modules/home/scripts/controllers/homeController.js")
        script(src="/modules/home/scripts/controllers/contactsController.js")
        <!-- endbuild -->

        <!-- build:js(client) client/scripts/race.min.js -->
        script(src="/modules/race/scripts/race.js")
        script(src="/modules/race/scripts/controllers/createRaceController.js")
        script(src="/modules/race/scripts/controllers/editRaceController.js")
        script(src="/modules/race/scripts/controllers/feedbackModalController.js")
        script(src="/modules/race/scripts/controllers/racesController.js")
        script(src="/modules/race/scripts/controllers/raceHomeController.js")
        script(src="/modules/race/scripts/controllers/searchRaceController.js")
        script(src="/modules/race/scripts/controllers/viewRaceController.js")
        script(src="/modules/race/scripts/controllers/richTextEditorModalController.js")
        script(src="/modules/race/scripts/controllers/editRegistrationModalController.js")
        script(src="/modules/race/scripts/controllers/editScheduleModalController.js")
        script(src="/modules/race/scripts/controllers/cropImageModalController.js")
        script(src="/modules/race/scripts/filters/distanceTypeFilter.js")
        script(src="/modules/race/scripts/services/textAngularConfig.js")
        script(src="/modules/race/scripts/services/richTextEditorService.js")
        script(src="/modules/race/scripts/services/mapOptions.js")
        script(src="/modules/race/scripts/services/dateRanges.js")
        script(src="/modules/race/scripts/directives/addressDirective.js")
        script(src="/modules/race/scripts/directives/typeDirective.js")
        script(src="/modules/race/scripts/directives/dateDirective.js")
        script(src="/modules/race/scripts/directives/titleDirective.js")
        <!-- endbuild -->

        <!-- build:js(client) client/scripts/commons.min.js -->
        script(src="/modules/commons/scripts/commons.js")
        script(src="/modules/commons/scripts/services/authService.js")
        script(src="/modules/commons/scripts/services/contactService.js")
        script(src="/modules/commons/scripts/services/routeService.js")
        script(src="/modules/commons/scripts/services/departmentEnum.js")
        script(src="/modules/commons/scripts/services/raceTypeEnum.js")
        script(src="/modules/commons/scripts/services/routeTypeEnum.js")
        script(src="/modules/commons/scripts/services/errorHandlerInterceptor.js")
        script(src="/modules/commons/scripts/services/fileReaderService.js")
        script(src="/modules/commons/scripts/services/gmapsApiService.js")
        script(src="/modules/commons/scripts/services/metaService.js")
        script(src="/modules/commons/scripts/services/raceService.js")
        script(src="/modules/commons/scripts/services/routeService.js")
        script(src="/modules/commons/scripts/services/regionEnum.js")
        script(src="/modules/commons/scripts/services/httpUtils.js")
        script(src="/modules/commons/scripts/services/sharedCriteriaService.js")
        script(src="/modules/commons/scripts/services/sharedMetaService.js")
        script(src="/modules/commons/scripts/services/underscore.js")
        script(src="/modules/commons/scripts/directives/gmapsAutocompleteDirective.js")
        script(src="/modules/commons/scripts/directives/nrFileSelectDirective.js")
        script(src="/modules/commons/scripts/directives/nrHasLocationDirective.js")
        script(src="/modules/commons/scripts/directives/nrPasswordMatchDirective.js")
        script(src="/modules/commons/scripts/directives/nrPolylineDirective.js")
        script(src="/modules/commons/scripts/directives/nrDownloadDirective.js")
        script(src="/modules/commons/scripts/directives/nrScrollToDirective.js")
        script(src="/modules/commons/scripts/directives/nrUniqueRaceDirective.js")
        script(src="/modules/commons/scripts/directives/nrUniqueUserNameDirective.js")
        script(src="/modules/commons/scripts/templates/angular-bootstrap-tpls-overrides.js")
        <!-- endbuild -->

        <!-- main module -->
        <!-- config.js is not minified and not concatenated -->
        script(src="/client/modules/main/scripts/services/clientConfig.js")
        <!-- build:js(client) client/scripts/main.min.js -->
        script(src="/modules/main/scripts/main.js")
        script(src="/modules/main/scripts/controllers/aboutController.js")
        script(src="/modules/main/scripts/controllers/contactController.js")
        script(src="/modules/main/scripts/controllers/creditController.js")
        script(src="/modules/main/scripts/controllers/footerController.js")
        script(src="/modules/main/scripts/controllers/headerController.js")
        script(src="/modules/main/scripts/controllers/mainController.js")
        <!-- endbuild -->

        script.
            moment.locale('fr');

        title(ng-cloak) {{pageTitle}}
