div.modal-header
	button.close(type="button",data-dismiss="modal",aria-hidden="true", ng-click="cancel()") &times;
	h4.modal-title Confirmation
div.modal-body
	div.row
		div.col-lg-10
			label.control-label Etes-vous sûr de vouloir supprimer cette manifestation ?
			<b>{{race.name}}</b>
			button.btn.btn-default(type="button", ng-click="cancel()") Annuler
			button.btn.btn-primary(type="submit", ng-click="deleteRace()", ng-disabled="form.$invalid") Envoyer

div.modal-footer
