div.modal-dialog
	div.modal-content
		div.modal-header
			button.close(type="button",data-dismiss="modal",aria-hidden="true")
			h4.modal-title Entrez votre adresse email:
		div.modal-body
			ul
				li(ng-repeat="item in items")
					a(ng-click="selected.item = item"){{ item }}
			span Selected: {{ selected.item }}
			div.row
				div.col-lg-10
					form(id="forgotPasswordForm", role="form", style="margin-top:50px")
						div.form-group.test
							label.control-label(for="forgotEmail") Email
							input.form-control(type="email", name="forgotEmail", id="forgotEmail", placeholder="Email")
						div.alert.alert-danger.fade.hide.errors
						button.btn.btn-default(type="button",data-dismiss="modal") Annuler
						button.btn.btn-primary(type="submit") Envoyer
						button(class="btn btn-primary" ng-click="ok()") OK
						button(class="btn btn-warning" ng-click="cancel()") Cancel
		div.modal-footer
