div.container(style="margin-top:50px")
	div.row
		div.col-lg-4.col-lg-offset-4
			div.panel.panel-default
				div.panel-heading <strong>Se connecter</strong>
				div.panel-body
					form(role="form", name="form", novalidate)
						div.form-group(data-ng-class="{'has-error': !form.email.$pristine && form.email.$invalid, 'has-success': !form.email.$invalid && !form.email.$pristine}")
							label.control-label(for="email") Email
							input.form-control(type="email", name="email", id="email", placeholder="Email",data-ng-model="user.email")
							span.help-block(name='email-required' data-ng-show="form.email.$dirty && form.email.$error.required") Veuillez saisir votre email
							span.help-block(name='email-invalid' data-ng-show="form.email.$error.email") Email invalide
						div.form-group(data-ng-class="{'has-error': !form.password.$pristine && form.password.$invalid, 'has-success': !form.password.$invalid && !form.password.$pristine}")
							label.control-label(type="password", for="password") Mot de passe
							input.form-control(type="password", name="password",  id="password", placeholder="Mot de passe",data-ng-model="user.password",  ng-minlength="4", ng-maxlength="8", required)
							span.help-block(data-ng-show="form.password.$dirty && form.password.$error.required") Please enter a password
							span.help-block(data-ng-show="form.password.$dirty && form.password.$error.minlength") Votre mot de passe doit contenir entre 4 et 8 caractères
							span.help-block(data-ng-show="form.password.$dirty && form.password.$error.maxlength") Votre mot de passe doit contenir entre 4 et 8 caractères
						button.btn.btn-primary(type="submit", data-ng-click="submit()", data-ng-disabled="form.$invalid") Se connecter
						button.btn.btn-link(id="signupLink", type="button", data-ng-click="signup()") S'inscrire
						hr
						button.btn.btn-link(id="forgotPasswordLink", type="button",  data-ng-click="open()") Mot de passe oublié ?

