div.container(ng-controller='LoginCtrl')
	div.row
		div.col-lg-4.col-lg-offset-4
			h1 Se connecter
			form(id="loginForm", role="form",  style="margin-top:50px" novalidate class="simple-form")
				input(type='hidden', name='_csrf', value="#{csrf_token}" ng-model="user._csrf")
				div.form-group
					label(for="inputEmail") Email
					input.form-control(type="email", name="email", id="inputEmail", placeholder="Email" ng-model="user.email"))
				div.form-group
					label(type="password", for="inputPassword") Mot de Passe
					input.form-control(type="password", name="password",  id="inputPassword", placeholder="Mot de passe" ng-model="user.password")
				div.alert.alert-danger.fade.hide(id="invalidEmailOrPassword")
				div.row
					div.col-lg-10.col-lg-offset-2
						button.btn.btn-primary(type="submit" ng-click="login()") Se connecter
						button.btn.btn-link(id="signupLink", type="button" , ng-click="signup()") S'inscrire
				hr
				button.btn.btn-link(id="forgotPasswordLink", type="button") Mot de passe oublié ?
		div.container
			div.modal.fade(id="forgotPasswordModal",tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
				div.modal-dialog
						div.modal-content
							div.modal-header
								button.close(type="button",data-dismiss="modal",aria-hidden="true")
								h4.modal-title Entrez votre adresse email:
							div.modal-body
								form(id="forgotPasswordForm", role="form",  style="margin-top:50px")
									div.text-center
										label(for="inputForgotEmail") Email
										input.form-control(type="email", name="email", id="inputForgotEmail", placeholder="Email"))
							div.modal-footer
								button.btn.btn-default(type="button",data-dismiss="modal") Annuler
								button.btn.btn-primary(id="submitForgotPassword",type="button") Envoyer