ul.nav.navbar-nav.navbar-right
	if (req.isAuthenticated())
		li.dropdown
			a.dropdown-toggle(data-toggle="dropdown") #{req.user.username} 
				b.caret
			ul.dropdown-menu
				li
					a(href="#/myraces") Mes manifestations
				li
					a(href="#/users/settings") Paramètres
				if (req.isAuthenticated() && req.user.profile == "superadmin")
					li
						a(href="#/users/admin") Administration
				li
					a(href="/logout") Se déconnecter
	else
		li 
		form(class="navbar-form navbar-left")
			button(type="submit", class="btn btn-primary", ng-click="login()") 
				span.glyphicon.glyphicon-user 
				span  Se connecter