div.modal-header
	button.close(type="button",data-dismiss="modal",aria-hidden="true", ng-click="cancel()") &times;
	h4.modal-title Redirection
div.modal-body
	div.row
		div.col-lg-10
			label.control-label Souhaitez-vous éditer votre manifestation ?
			<b>{{race.name}}</b>
			button.btn.btn-default(type="button", ng-click="goToEdit()") Editer maintenant
			button.btn.btn-primary(type="button", ng-click="goToMyRaces()") Plutard
div.modal-footer