div.container(data-ng-controller='SignupCtrl', style="margin-top:50px")
	div.row
		div.col-lg-4.col-lg-offset-4
			div.panel.panel-default
				div.panel-heading <strong>S'inscrire</strong>
				div.panel-body
					form(id="signupForm",role="form")
						input(id="_csrf", type='hidden', name='_csrf', value="#{csrf_token}",data-ng-model="user._csrf")
						div.form-group
							label(for="username") Nom complet
							input.form-control(type="text", name="username", id="username", placeholder="Nom complet",data-ng-model="user.username")
						div.form-group
							label(for="email") Email
							input.form-control(type="email", name="email", id="email", placeholder="Email",data-ng-model="user.email")
						div.form-group
							label(type="password", for="password") Mot de passe
							input.form-control(type="password", name="password",  id="password", placeholder="Mot de passe",data-ng-model="user.password")
						div.form-group
							label(type="password", for="confirmPassword") Confirmer le mot de passe
							input.form-control(type="password", name="confirmPassword",  id="confirmPassword", placeholder="Confirmer le mot de passe"))
						button.btn.btn-primary(type="submit") Envoyer