div.container(data-ng-controller='MyRacesCtrl')
	h1 Mes Manifestations
	div.col-lg-2.col-lg-offset-10
		button.btn.btn-primary(ng-click="addNewRace()") 
			span.glyphicon.glyphicon-plus 
			span  Ajouter