div.container
	h2 Rechercher une manifestation
	div.row
			div.col-lg-4
				div.well
			div.col-lg-8
				table.table
					thead
						tr
							th(style="width: 60%")
							th(style="width: 30%")
							th(style="width: 10%")
					tbody
						tr(data-ng-repeat="race in races")
							td {{race.name}}
				div.col-lg-8.col-lg-offset-4