div.container(style="margin-top:50px",style="padding-bottom: 50px;")
	h1 {{race.name}}
		small  ({{race.department.code}})
	h4.text-right  {{getDate(race.date)}}
	hr
	div.row.text-center
		div.col-md-4
			h3 {{race.type.i18n}}
			span.small type
		div.col-md-4
			h3 {{race.distanceType.name}}
			span.small distance
		div.col-md-4
			div.row
				div.col-md-8.col-md-offset-4
					table.table
						tbody
							tr
								td(style="border:0", align="left")
									a(data-ng-click="openFeedbackModal(race._id)") 
										i.glyphicon.glyphicon-thumbs-down 
										span  Signaler une erreur
							tr(data-ng-if="race.organizerWebSite")
								td(style="border:0", align="left")
									a(data-ng-href="http://{{race.organizerWebSite}}" target="_blank")
										i.glyphicon.glyphicon-info-sign
										span  {{race.organizerWebSite}}
	h2 Parcours
	hr
	div.row
		div.col-lg-12
			tabset(vertical="false" type="pills")
				tab(data-ng-repeat="route in race.routes" heading="{{route.type}}" data-ng-click="onChangeTab(route)")
					include showMap
					div.row.text-center
						div.col-lg-4
							h3 {{route.distance.toFixed(2)}}
								small km
							span.small Distance
						div.col-lg-4
							h3 {{Math.floor(route.ascendant)}}
								small m
							span.small D+
						div.col-lg-4
							h3 {{Math.floor(route.descendant)}}
								small m
							span.small D-
						div.col-lg-4
							h3 {{Math.floor(route.maxElevation)}}
								small m
							span.small Max
						div.col-lg-4
							h3 {{Math.floor(route.minElevation)}}
								small m
							span.small Min
	h2 Organisation
	hr
	div.row
		div.col-lg-12
			include templates/viewOrganisation