div.container
	h3(translate) Version actuelle: 1.0
	hr
	h3(translate) Fonctionnalités
	hr
	div.row
		ul
			li(translate) Créer une manifestation
			li(translate) Tracer les parcours via Google Maps
			li(translate) Publier une manifestation
			li(translate) Editer une manifestation
			li(translate) Visualiser une manifestation
			li(translate) Supprimer une manifestation
			li(translate) Créer un compte organisateur
			li(translate) Supprimer son compte
			li(translate) Mettre à jour son profil
			li(translate) Modifier son mot de passe
			li(translate) Réinitialiser son mot de passe
			li(translate) Possibilité de laisser son feedback
			li(translate) Contacter nextrun
			li(translate) Like facebook
			li(translate) Rechercher un parcours
			li(translate) Rechercher un parcours par geolocalisation
			li(translate) Moteur de recherche
			li(translate) Importer un fichier GPX
	h3(translate) En cours de développement
	hr
	div.row
		ul
			li(translate) Exporter un parcours au format GPX
			li(translate) Créer un compte via Facebook
	h3(translate) A venir
	hr
	div.row
		ul
			li(translate) Inscription en ligne
			li(translate) Publier les résultats
			li(translate) Consulter les résultats
			li(translate) Recevoir des newletters
			li(translate) Donner son avis et partager son expérience

