div.container.contacts
	h3(translate) Contacts
	hr
	div.row
		div.col-lg-4.col-lg-offset-4
			form(role="form" name="form")
				div.form-group
					label.control-label(translate) Email
					input.form-control(name="email" placeholder="{{'Email' | translate}}" ng-model="email" required)
				div.form-group
					label.control-label(translate) Message
					textarea.form-control(name="message" ng-model="message" rows="3" placeholder="{{'votre message' | translate}}" required)
				button.btn.btn-primary(ng-click="submit()" translate) Envoyer