div.container
	h3 Remerciements
	div.row
		div.col-lg-12
			hr
			a(href='http://www.icojam.com') http://www.icojam.com
			hr
			a(href='http://www.graphicsfuel.com/') http://www.graphicsfuel.com
			hr
			a(href='http://www.highcharts.com/') http://www.highcharts.com
			hr
			a(href='https://maps.google.fr/') https://maps.google.fr
			hr
			a(href='https://github.com/Eonasdan/bootstrap-datetimepicker') https://github.com/Eonasdan/bootstrap-datetimepicker
			hr
			a(href='https://github.com/dangrossman/bootstrap-daterangepicker') https://github.com/dangrossman/bootstrap-daterangepicker
			hr
			a(href='http://eternicode.github.com/bootstrap-datepicker') http://eternicode.github.com/bootstrap-datepicker
			hr
			a(href='http://davidstutz.github.com/bootstrap-multiselect') http://davidstutz.github.com/bootstrap-multiselect
			hr
			a(href='http://raphaeljs.com') http://raphaeljs.com
			hr
			a(href='http://mapicons.nicolasmollet.com') http://mapicons.nicolasmollet.com
			hr
			a(href='https://github.com/bassjobsen/Bootstrap-3-Typeahead') https://github.com/bassjobsen/Bootstrap-3-Typeahead
			hr
			a(href='https://github.com/fraywing/textAngular') https://github.com/fraywing/textAngular

			