.search-race {

    padding-top: 60px;

    input[type="range"] {
        width: 200px;
    }

    .checkbox, .radio {
        padding-left: 20px;
    }

    .search-type {
        padding-bottom: 20px;
    }

    .filter {
        padding-top: 0px;
        z-index: 1;
        position: absolute;
        left: 0px;
        top: 150px;
    }

    .search {
        padding-top: 0px;
        z-index: 1;
        position: absolute;
        left: 20px;

        label {
            color: black;
        }
    }

    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top:0px;
    google-map {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top:55px;
        .angular-google-map {
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            top:0px;
            img {
                max-width: inherit;
            }
            .angular-google-map-container {
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: 0px;
                top:0px;
            }
        }
    }   
}