.view-race {
    padding-top: 60px;
    .angular-google-map-container {
        width: 100%;
        height: 350px;
    }
    .address-map-container {
        .angular-google-map-container {
            width: 100%;
            height: 200px;
        }
    }
}