@import 'text-angular.scss';
@import 'search.scss';
@import 'view.scss';
@import 'home.scss';

.tab-content {
    padding-top: 20px;
}


/*.pac-container {
    z-index: 1051;
}*/

/*accordion {
    .panel-body {
        padding: none;
    }
}*/

textarea[name=description] {
    resize: none;
}


span.glyphicon.glyphicon-remove {
    cursor: pointer;
}