@import 'text-angular.scss';
/*@import 'animation.scss';*/

.tab-content {
	padding-top: 20px;
}

.address-map-container {

	.angular-google-map-container {
	    width: 100%;
	    height: 300px;
	}

}

accordion {
	.panel-body {
		padding: none;
	}
}




.nrEditTab {
	form {
		.form-horizontal {
			margin-top:10px;
		}
	}
}

.mapControl {
	z-index: 0; 
	position: absolute; 
	top: 680px; 
	right: 170px;
}


.rowBasic {
	border:0; 
	border-top: none;
	text-align: left;
}

.rowItalic {
	border:0; 
	border-top: none;
	font-style:italic;
	text-align: left;
}

.rowBold {
	border:0; 
	border-top: 
	none; 
	font-weight:bold;
	text-align: left;
}

.workflowImage {
	width: 100%; 
	height:30%;
}



span.glyphicon.glyphicon-remove {
	cursor:pointer;
}