div.custom-bs-background
	div.custom-bs-header
		include ../../layouts/carousel
	div.container
		div.container.custom-marketing
			div.row(style="margin-top:20px")
				div.col-lg-7.col-lg-offset-2
					div.input-group.input-group-lg(style="margin-top:20px")
						
						input.form-control.twitter-typeahead(type="text" placeholder="{{'Recherche directe' | translate}}" typeahead-editable="true" typeahead-on-select='onSelect($item)' ng-model="fulltext" typeahead="name as name.fullname for name in suggest($viewValue) | filter:{fullname:$viewValue} | limitTo:8")

						span.input-group-addon
							span.glyphicon.glyphicon-search
				div.col-lg-12
					div.col-lg-3.col-lg-offset-2
						hr
					div.col-lg-1.text-center(style="margin-top:10px")
						p(translate) Par critères
					div.col-lg-3
						hr
			div.row
				div.col-lg-offset-2.col-lg-8
					form(role="form" name="form1" novalidate)
						div.row
							div.col-lg-6
								div.form-group(ng-class="{'has-error': !form1.location.$pristine && form1.location.$error.validLocation && form1.location.$invalid, 'has-success': !form1.location.$pristine  && !form1.location.$error.validLocation}")
									input.form-control(name="location" id="location" placeholder="{{'Tapez une ville' | translate}}" ng-model="criteria.autocomplete.location.pin.name" nr-has-location gmaps-autocomplete options="autocomplete.options" details="criteria.autocomplete.location.pin")
									span.help-block(ng-show="form1.location.$dirty && form1.location.$error.validLocation" translate)  Veuillez saisir une ville correcte
								div.row
									div.col-lg-6
										div.form-group
											div.checkbox
												label
													em(translate) Elargir aux alentours
													input(type="checkbox" ng-model="criteria.searchAround")
									div.col-lg-4
										div.form-group
											select(class="form-control" style="width:100px" ng-model="criteria.distance" ng-change="onChangeDistance()")
												option(value="15") 15km
												option(value="30") 30km
												option(value="50") 50km
												option(value="100") 100km
							div.col-lg-2
								div.form-group
									ui-select(ng-model="criteria.types")
										ui-select-match(placeholder="{{'Sélectionner...' | translate}}") {{$item}}
											ui-select-choices(repeat="type in listOfTypes | filter:$select.search"){{type.name}}
						div.row
							div.col-lg-2.col-lg-offset-8(style="margin-top:-40px")
								div.form-group
									button.btn.btn-primary(type="submit" ng-click="submitSearchWithCriteria()" ng-disabled="form1.$invalid" translate) Rechercher	
						
								
			div.row(style="margin-top:10px")
				google-map(center="map.center" options="map.options" zoom="map.zoom" refresh="true"  draggable="true" mark-click="true" style="gmapsEditor" events="map.events")
					markers(models="map.markers" click="'onClicked'" coords="'self'" icon="'icon'" doCluster="map.doClusterMarkers" clusterOptions="map.clusterOptions")
						windows(show="'showWindow'" closeClick="'closeClick'" ng-cloak)
							a(ng-non-bindable href="#/races/view/{{raceId}}") {{raceName}}		
			div.container.marketing
				include ./templates/marketing
				include ./templates/contacts