.view-workout {
    padding-top: 60px;

    .crop-image {
        position: absolute;
        left: 210px;
        bottom: 70px;
        z-index: 1;
    }

    small {
        color: #B1B4B8;
    }

    .navbar-default {
        background-color: #e6e9ed;
        border-color: #e6e9ed;

        li {
            a {
                color: black;
            }
        }
    }

    .navbar-form {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    nr-workout-address {
        .address-map-container {
            google-map {
                .angular-google-map {
                    .angular-google-map-container {
                        width: 100%;
                        height: 250px;
                    }
                }
            }
        }
    }
    

    google-map {
        .angular-google-map {
            .angular-google-map-container {
                width: 100%;
                height: 350px;
            }
        }
    }
}