div
	div(ng-if="editMode")
		h4(translate) Ajouter un participant
		form(class="form-inline" role="form" name="participantForm" novalidate)
			div(class="form-group" ng-class="{'has-error': !participantForm.email.$pristine && participantForm.email.$invalid, 'has-success': !participantForm.email.$invalid && !participantForm.email.$pristine}")
				label(class="sr-only" for="email" translate) Email
				input(class="form-control" id="email" name="email" type="email" workout="workout" nr-unique-participant placeholder="{{'Email' | translate }}" ng-model="newParticipant.email")
				span(class="help-block" ng-show="participantForm.email.$error.email" translate) Email invalide

			button(class="btn btn-primary" ng-click="addNewParticipant(newParticipant)" ng-disabled="participantForm.$invalid" translate) Ajouter

table(class="table table-hover")
		thead
			tr
				th(style="width: 40%" translate) Pseudo
				th(style="width: 40%" translate ng-if="editMode") Email
				th(style="width: 40%" translate) Dernière mise à jour
				th(style="width: 5%")
				th(style="width: 5%" ng-if="editMode")
		tbody
			tr(ng-if="!editMode && participant.pseudo" ng-repeat="participant in workout.participants" ng-class="{'success': participant.willBePresent === 'yes' , 'danger': participant.willBePresent === 'no', 'warning': participant.willBePresent === 'maybe'}")
				td 
					a {{participant.pseudo || '-'}}
				td 
					a {{participant.lastUpdate || '-'}}
				td
					span(ng-if="participant.willBePresent === 'yes'" class="glyphicon glyphicon-ok")
					span(ng-if="participant.willBePresent === 'no'" class="glyphicon glyphicon-remove")
			tr(ng-if="editMode" ng-repeat="participant in workout.participants" ng-class="{'success': participant.willBePresent === 'yes' , 'danger': participant.willBePresent === 'no', 'warning': participant.willBePresent === 'maybe'}")
				td 
					a {{participant.pseudo || '-'}}
				td 
					a(ng-if="editMode") {{participant.email}}
				td 
					a {{participant.lastUpdate || '-'}}
				td
					span(ng-if="participant.willBePresent === 'yes'" class="glyphicon glyphicon-ok")
					span(ng-if="participant.willBePresent === 'no'" class="glyphicon glyphicon-remove")
				td(ng-if="editMode")
					a(ng-click="openDeleteParticipantConfirmation(participant)")
						span(class="glyphicon glyphicon-trash")
	div(class="col-lg-8 col-lg-offset-4")
		pagination(boundary-links="true" ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage" previous-text="<" next-text=">" first-text="<<" last-text=">>")