div.modal-header
	button.close(type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()") &times;
	h4.modal-title {{'Entrez votre adresse email' | translate }}:
div.modal-body
	div.row
		div.col-lg-10
			form(role="form" name="forgotPasswordform" ng-submit="submit()" novalidate)
				
				div.form-group(ng-class="{'has-error': !forgotPasswordform.$pristine && form.email.$invalid, 'has-success': !forgotPasswordform.email.$invalid && !forgotPasswordform.$pristine}")
					label.control-label(for="email" translate) Email
					input.form-control(type="email" ng-model="user.email" name="email" placeholder="{{'Email' | translate }}" ng-required="true")
					span.help-block(name="email-invalid" ng-show="forgotPasswordform.email.$error.email" translate) Email invalide
				button.btn.btn-default(type="button" name="cancel" ng-click="cancel()" translate) Annuler
				button.btn.btn-primary(type="submit" name="submit" ng-disabled="forgotPasswordform.$invalid" translate) Envoyer
div.modal-footer