div(class="modal-header")
	button(class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()") &times;
	h4(class="modal-title") {{'Entrez votre adresse email' | translate }}:
div(class="modal-body")
	div(class="row")
		div(class="col-lg-10")
			form(role="form" name="forgotPasswordform" novalidate)
				
				div(class="form-group" ng-class="{'has-error': !forgotPasswordform.$pristine && form.email.$invalid, 'has-success': !forgotPasswordform.email.$invalid && !forgotPasswordform.$pristine}")
					label(class="control-label" for="email" translate) Email
					input(class="form-control" id="email" type="email" ng-model="user.email" name="email" placeholder="{{'Email' | translate }}" ng-required="true")
					span(class="help-block" ng-show="forgotPasswordform.email.$error.email" translate) Email invalide
div(class="modal-footer")
	button(class="btn btn-default" type="button" name="cancel" ng-click="cancel()" translate) Annuler
	button(class="btn btn-primary" type="button" name="submit" ng-click="submit()" ng-disabled="forgotPasswordform.$invalid" translate) Envoyer