div.container
	div.row
		div.col-lg-4.col-lg-offset-4
			div.panel.panel-default
				div.panel-heading <strong>{{ 'Se connecter' | translate }}</strong>
				div.panel-body
					form(role="form" name="form" ng-submit="submit()" novalidate)
						
						div.form-group(ng-class="{'has-error': !form.email.$pristine && form.email.$invalid, 'has-success': !form.email.$invalid && !form.email.$pristine}")
							label.control-label(for="email" translate) Email
							input.form-control(type="email" name="email" placeholder="{{'Email' | translate }}" ng-model="user.email")
							span.help-block(name='email-invalid' ng-show="form.email.$error.email" translate) Email Invalide
						
						div.form-group(ng-class="{'has-error': !form.password.$pristine && form.password.$invalid, 'has-success': !form.password.$invalid && !form.password.$pristine}")
							label.control-label(type="password" for="password"  translate) Mot de passe
							input.form-control(type="password" name="password" placeholder="{{'Mot de passe' | translate }}" ng-model="user.password" ng-minlength="4" ng-maxlength="16" required)
							span.help-block(ng-show="form.password.$dirty && form.password.$error.minlength" translate) Le mot de passe doit contenir au minium 4 lettres.
							span.help-block(ng-show="form.password.$dirty && form.password.$error.maxlength" translate) Le mot de passe doit contenir au maximum 16 lettres.
						
						button.btn.btn-primary(type="submit" name="submit" ng-disabled="form.$invalid" translate) Se connecter
						button.btn.btn-link(type="button" name="signup" ng-click="signup()" translate) S'incrire
						hr
						button.btn.btn-link(type="button" name="forgotPassword" ng-click="open()" translate) Mot de passe oublié ?