div(class="container settings")
	div(class="row")
		div(class="col-md-2")
			div(class="bs-sidebar hidden-print affix" role="complementary" data-offset-top="-120" data-offset-bottom="240" bs-affix bs-scrollspy-list)
				ul(class="nav bs-sidenav")
					li(bs-scrollspy data-target="#changeProfileTab" class="active")
						a(nr-scroll-to="changeProfileTab" translate) Modifier mon profil
					li(bs-scrollspy data-target="#changePasswordTab")
						a(nr-scroll-to="changePasswordTab" translate) Changer mon mot de passe
					li(bs-scrollspy data-target="#deleteAccountTab")
						a(nr-scroll-to="deleteAccountTab" translate) Supprimer mon compte
		div(class="col-md-6")
			div(class="bs-docs-section")
				div(class="page-header")
					h1(id="changeProfileTab" translate) Modifier mon Profil
					form(role="form" name="form1" ng-submit="updateProfile()" novalidate)

						div(class="form-group" ng-class="{'has-error': !form1.username.$pristine && form1.username.$invalid, 'has-success': !form1.username.$pristine && !form1.username.$invalid}")
							label(class="control-label" for="username" translate) Nom complet
							input(class="form-control" type="text" name="username" placeholder="{{'Nom complet' | translate }}" ng-model="user.username"  ng-minlength="4"  ng-maxlength="30" ng-required="true")
							span(class="help-block" name="username-minLength" ng-show="form1.username.$dirty && form1.username.$error.minlength" translate) Le mot de passe doit contenir au minium 4 lettres.
							span(class="help-block" name="username-maxLength" ng-show="form1.username.$dirty && form1.username.$error.maxlength" translate) Le mot de passe doit contenir au maximm 16 lettres.
						
						div(class="form-group" ng-class="{'has-error': !form1.email.$pristine && form1.email.$invalid, 'has-success': !form1.email.$invalid && !form1.email.$pristine}")
							label(class="control-label" for="email" translate) Email
							input(class="form-control" type="email" name="email" placeholder="{{'Email' | translate }}" ng-model="user.email" ng-required="true")
							span(class="help-block" name="email-invalid" ng-show="form1.email.$error.email" translate) Email invalide
						hr
						div(class="form-group text-right")
							button(class="btn btn-primary" type="submit" name="submit" ng-disabled="form1.$invalid || isUnchanged(user)" translate) Enregistrer
			div(class="bs-docs-section")
				div(class="page-header")
					h1(id="changePasswordTab" translate) Changer mon mot de passe
					form(role="form" name="form" ng-submit="updatePassword()")
						
						div(class="form-group" ng-class="{'has-error': !form.actualPassword.$pristine && form.actualPassword.$invalid, 'has-success': !form.actualPassword.$invalid && !form.actualPassword.$pristine}")
							label(class="control-label" type="password" for="actualPassword" translate) Mot de passe actuel
							input(class="form-control" type="password" name="actualPassword" placeholder="{{'Mot de passe actuel' | translate}}" ng-model="actualPassword" ng-minlength="4" ng-maxlength="8" ng-required="true")
							span(class="help-block" name="actualPassword-minLength" ng-show="form.actualPassword.$dirty && form.actualPassword.$error.minlength" translate) Le mot de passe doit contenir au minium 4 lettres.
							span(class="help-block" name="actualPassword-maxLength" ng-show="form.actualPassword.$dirty && form.actualPassword.$error.maxlength" translate) Le mot de passe doit contenir au maximum 16 lettres.
						
						div(class="form-group" ng-class="{'has-error': !form.newPassword.$pristine && form.newPassword.$invalid, 'has-success': !form.newPassword.$invalid && !form.newPassword.$pristine}")
							label(class="control-label" type="password" for="newPassword" translate) Nouveau mot de passe
							input(class="form-control" type="password" name="newPassword" placeholder="{{'Nouveau mot de passe' | translate}}" ng-model="newPassword" match="confirmNewPassword" ng-minlength="4" ng-maxlength="8" ng-required="true")
							span(class="help-block" name="newPassword-minLength" ng-show="form.newPassword.$dirty && form.newPassword.$error.minlength" translate) Le mot de passe doit contenir au minium 4 lettres.
							span(class="help-block" name="newPassword-maxLength" ng-show="form.newPassword.$dirty && form.newPassword.$error.maxlength" translate) Le mot de passe doit contenir au maximm 16 lettres.
						
						div(class="form-group" ng-class="{'has-error': !form.confirmNewPassword.$pristine && form.confirmNewPassword.$invalid, 'has-success': !form.confirmNewPassword.$error.match && !form.confirmNewPassword.$pristine}")
							label(class="control-label" for="confirmNewPassword" translate) Confirmer le mot de passe
							input(class="form-control" type="password" name="confirmNewPassword" placeholder="{{'Confirmer le mot de passe' | translate}}" nr-password-match="confirmNewPassword" ng-model="newPassword" ng-required="true")
							span(class="help-block" name="confirmNewPassword-match" ng-show="form.confirmNewPassword.$dirty && form.confirmNewPassword.$error.nrPasswordMatch && !form.confirmNewPassword.$error.required" translate) Le mot de passe est différent
						hr
						div(class="form-group text-right")
							button(class="btn btn-primary" type="submit" name="submit" ng-disabled="form.$invalid" translate) Enregistrer
			div(class="bs-docs-section")
				div(class="page-header")
					h1(id="deleteAccountTab" translate) Supprimer mon compte
					form(role="form" name="form3" ng-submit="deleteAccount()")
						div(class="bs-callout bs-callout-danger")
							h4 {{'Attention !' | translate}}
							p {{'Si vous souhaitez supprimer votre compte, tous les parcours que vous avez créé seront supprimés' | translate}}
						button(class="btn btn-danger" type="submit" name="submit" translate) Supprimer mon compte