div(class="container")
	div(class="row")
		div(class="col-lg-4 col-lg-offset-4")
			div(class="panel panel-default")
				div(class="panel-heading") <strong>{{ "S'insrire" | translate }}</strong>
				div(class="panel-body")
					form(role="form" name="signupForm" ng-submit="submit()" novalidate)
						div(class="form-group" ng-class="{'has-error': !signupForm.username.$pristine && signupForm.username.$invalid, 'has-success': !signupForm.username.$invalid && !signupForm.username.$pristine}")
							label(class="control-label" for="username" translate) Nom complet
							input(class="form-control" type="text" name="username" placeholder="{{'Nom complet' | translate }}" ng-model="user.username"  ng-minlength="4"  ng-maxlength="30" ng-required="true")
							span(class="help-block" ng-show="signupForm.username.$dirty && signupForm.username.$error.minlength" translate) Votre nom doit contenir au minium 4 lettres.
							span(class="help-block" ng-show="signupForm.username.$dirty && signupForm.username.$error.maxlength" translate) Votre nom doit contenir au maximum 16 lettres.
						
						div(class="form-group" ng-class="{'has-error': !signupForm.email.$pristine && signupForm.email.$invalid, 'has-success': !signupForm.email.$invalid && !signupForm.email.$pristine}")
							label(class="control-label" for="email" translate) Email
							input(class="form-control" id="email" type="email" name="email"  placeholder="{{'Email' | translate }}" ng-model="user.email" ng-required="true")
							span(class="help-block" ng-show="signupForm.email.$error.email" translate) Email invalide
						
						div(class="form-group" ng-class="{'has-error': !signupForm.password.$pristine && signupForm.password.$invalid, 'has-success': !signupForm.password.$invalid && !signupForm.password.$pristine}")
							label(class="control-label" for="password" translate) Mot de passe
							input(class="form-control" type="password" name="password" placeholder="{{'Mot de passe' | translate }}"  ng-model="user.password"  match="confirmPassword" ng-minlength="4" ng-maxlength="16" ng-required="true")
							span(class="help-block" ng-show="signupForm.password.$dirty && signupForm.password.$error.minlength" translate) Le mot de passe doit contenir au minium 4 lettres.
							span(class="help-block" ng-show="signupForm.password.$dirty && signupForm.password.$error.maxlength" translate) Le mot de passe doit contenir au maximum 16 lettres.
						
						div(class="form-group" ng-class="{'has-error': !signupForm.confirmPassword.$pristine && signupForm.confirmPassword.$invalid, 'has-success': !signupForm.confirmPassword.$error.match && !signupForm.confirmPassword.$pristine}")
							label(class="control-label" for="confirmPassword" translate) Confirmer le mot de passe
							input(class="form-control" type="password" name="confirmPassword" placeholder="{{'Confirmer le mot de passe' | translate }}" nr-password-match="user.password" ng-model="confirmPassword" ng-required="true")
							span(class="help-block" ng-show="signupForm.confirmPassword.$dirty && signupForm.confirmPassword.$error.nrPasswordMatch && !signupForm.confirmPassword.$error.ng-required="true"" translate) Le mot de passe est différent
						
						button(class="btn btn-primary" type="submit" ng-disabled="signupForm.$invalid" translate) Envoyer