div.container(style="margin-top:50px")
	div.row
		div.col-lg-4.col-lg-offset-4
			div.panel.panel-default
				div.panel-heading <strong>{{ 'title.signup' | translate }}</strong>
				div.panel-body
					form(role="form" name="form" ng-submit="submit()" novalidate)
						
						div.form-group(ng-class="{'has-error': !form.username.$pristine && form.username.$invalid, 'has-success': !form.username.$invalid && !form.username.$pristine}")
							label.control-label(for="username" translate="field.fullname")
							input.form-control(type="text" name="username" placeholder="{{'field.fullname' | translate }}" ng-model="user.username"  ng-minlength="4"  ng-maxlength="30" required)
							span.help-block(name="username-minLength" ng-show="form.username.$dirty && form.username.$error.minlength" translate="validator.username.minlength")
							span.help-block(name="username-maxLength" ng-show="form.username.$dirty && form.username.$error.maxlength" translate="validator.username.maxlength")
						
						div.form-group(ng-class="{'has-error': !form.email.$pristine && form.email.$invalid, 'has-success': !form.email.$invalid && !form.email.$pristine}")
							label.control-label(for="email" translate="field.email")
							input.form-control(type="email" name="email"  placeholder="{{'field.email' | translate }}" ng-model="user.email" required)
							span.help-block(name='email-invalid' ng-show="form.email.$error.email" translate="validator.email.invalid")
						
						div.form-group(ng-class="{'has-error': !form.password.$pristine && form.password.$invalid, 'has-success': !form.password.$invalid && !form.password.$pristine}")
							label.control-label(for="password" translate="field.password")
							input.form-control(type="password" name="password" placeholder="{{'field.password' | translate }}"  ng-model="user.password"  match="confirmPassword" ng-minlength="4" ng-maxlength="16" required)
							span.help-block(name="password-minLength" ng-show="form.password.$dirty && form.password.$error.minlength" translate="validator.password.minlength")
							span.help-block(name="password-maxLength" ng-show="form.password.$dirty && form.password.$error.maxlength" translate="validator.password.maxlength")
						
						div.form-group(ng-class="{'has-error': !form.confirmPassword.$pristine && form.confirmPassword.$invalid, 'has-success': !form.confirmPassword.$error.match && !form.confirmPassword.$pristine}")
							label.control-label(for="confirmPassword" translate="field.confirmPassword")
							input.form-control(type="password" name="confirmPassword" placeholder="{{'field.confirmPassword' | translate }}" nr-password-match="user.password" ng-model="confirmPassword" required)
							span.help-block(name="confirmPassword-match" ng-show="form.confirmPassword.$dirty && form.confirmPassword.$error.nr-password-match && !form.confirmPassword.$error.required" translate="validator.confirmPassword.not.match")
						
						button.btn.btn-primary(type="submit" name="submit" ng-disabled="form.$invalid" translate="button.send")