div(class="container users")
	h1(translate) Utilisateurs
	div(class="pull-right")
		button(class="btn btn-primary" ng-click="addNewUser()") 
			span(class="glyphicon glyphicon-plus") 
			span(translate)  Ajouter
	table(class="table table-hover")
		thead
			tr
				th(style="width: 40%" translate) Login
				th(style="width: 10%" translate) Email
				th(style="width: 15%" translate) Dernière mise à jour
				th(style="width: 5%")
				th(style="width: 5%")
				th(style="width: 10%" translate) Activer
		tbody
			tr(ng-repeat="user in users")
				td 
					a(ui-sref="view({id: user._id})") {{user.username}}	
				td {{user.email | translate}}
				td(ng-if="user.lastUpdate != null")  {{user.lastUpdate | date : 'dd/MM/yyyy HH:mm'}}
				td
					a(ui-sref="editUser({id: user._id})" translate)
						span(class="glyphicon glyphicon-edit")
				td
					a(ng-click="openDeleteConfirmation(user)")
						span(class="glyphicon glyphicon-trash")
				td
					input(bs-switch type="checkbox" ng-model="user.published" ng-change="publish(user, user.published)" switch-on-color="success" switch-off-color="default" switch-on-text="On" switch-off-text="Off")
	div(class="col-lg-8 col-lg-offset-4")
		pagination(boundary-links="true" ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage" previous-text="<" next-text=">" first-text="<<" last-text=">>")
				