div.container(style="padding-bottom: 50px;")
	div.container.bs-docs-container
		div.row
			div.col-lg-4
				div.bs-sidebar.hidden-print.affix(role="complementary" style data-toggle="affix" data-spy="affix" data-offset-top="255" data-offset-bottom="200")
					ul.nav.bs-sidenav
						li.active
							a(href="#/users/settings/#changeProfileTab" target="_self" translate="title.changeProfile")
						li
							a(href="#/users/settings/#changePasswordTab" target="_self" translate="title.changePassword")
						li
							a(href="#/users/settings/#deleteAccountTab" target="_self" translate="title.deleteAccount")
			div.col-lg-8(role="main")
				div.bs-docs-section.active
					div.page-header
						h1(id="changeProfileTab" translate="title.changeProfile") 
					form(role="form" style="margin-top:50px" name="form1" ng-submit="updateProfile()" novalidate)

						div.form-group(ng-class="{'has-error': !form1.username.$pristine && form1.username.$invalid, 'has-success': !form1.username.$pristine && !form1.username.$invalid}")
							label.control-label(for="username" translate="field.fullname")
							input.form-control(type="text" name="username" placeholder="{{'field.fullname' | translate }}" ng-model="user.username"  ng-minlength="4"  ng-maxlength="30" required)
							span.help-block(name="username-minLength" ng-show="form1.username.$dirty && form1.username.$error.minlength" translate="validator.username.minlength")
							span.help-block(name="username-maxLength" ng-show="form1.username.$dirty && form1.username.$error.maxlength" translate="validator.username.maxlength")
						
						div.form-group(ng-class="{'has-error': !form1.email.$pristine && form1.email.$invalid, 'has-success': !form1.email.$invalid && !form1.email.$pristine}")
							label.control-label(for="email" translate="field.email")
							input.form-control(type="email" name="email" placeholder="{{'field.email' | translate }}" ng-model="user.email" required)
							span.help-block(name="email-invalid" ng-show="form1.email.$error.email" translate="validator.email.invalid")
						hr
						div.form-group.text-right
							button.btn.btn-primary(type="submit" name="submit" ng-disabled="form1.$invalid || isUnchanged(user)" translate="button.save")
				div.bs-docs-section
					div.page-header	
						h1(id="changePasswordTab" translate="title.changePassword")
					form(role="form" name="form" style="margin-top:50px" ng-submit="updatePassword()")
						
						div.form-group(ng-class="{'has-error': !form.actualPassword.$pristine && form.actualPassword.$invalid, 'has-success': !form.actualPassword.$invalid && !form.actualPassword.$pristine}")
							label.control-label(type="password" for="actualPassword" translate="field.actualPassword")
							input.form-control(type="password" name="actualPassword" placeholder="{{'field.actualPassword' | translate}}" ng-model="actualPassword" ng-minlength="4" ng-maxlength="8" required)
							span.help-block(name="actualPassword-minLength" ng-show="form.actualPassword.$dirty && form.actualPassword.$error.minlength" translate="validator.password.minlength")
							span.help-block(name="actualPassword-maxLength" ng-show="form.actualPassword.$dirty && form.actualPassword.$error.maxlength" translate="validator.password.maxlength")
						
						div.form-group(ng-class="{'has-error': !form.newPassword.$pristine && form.newPassword.$invalid, 'has-success': !form.newPassword.$invalid && !form.newPassword.$pristine}")
							label.control-label(type="password" for="newPassword" translate="field.newPassword")
							input.form-control(type="password" name="newPassword" placeholder="{{'field.newPassword' | translate}}" ng-model="newPassword" match="confirmNewPassword" ng-minlength="4" ng-maxlength="8" required)
							span.help-block(name="newPassword-minLength" ng-show="form.newPassword.$dirty && form.newPassword.$error.minlength" translate="validator.password.minlength")
							span.help-block(name="newPassword-maxLength" ng-show="form.newPassword.$dirty && form.newPassword.$error.maxlength" translate="validator.password.maxlength")
						
						div.form-group(ng-class="{'has-error': !form.confirmNewPassword.$pristine && form.confirmNewPassword.$invalid, 'has-success': !form.confirmNewPassword.$error.match && !form.confirmNewPassword.$pristine}")
							label.control-label(for="confirmNewPassword" translate="field.confirmPassword")
							input.form-control(type="password" name="confirmNewPassword" placeholder="{{'field.confirmPassword' | translate}}" nr-password-match="confirmNewPassword" ng-model="newPassword" required)
							span.help-block(name="confirmNewPassword-match" ng-show="form.confirmNewPassword.$dirty && form.confirmNewPassword.$error.match && !form.confirmNewPassword.$error.required" translate="validator.confirmPassword.not.match")
						hr
						div.form-group.text-right
							button.btn.btn-primary(type="submit" name="submit" ng-disabled="form.$invalid" translate="button.save")
				div.bs-docs-section
					div.page-header	
						h1(id="deleteAccountTab" translate="title.deleteAccount")
					form(role="form" name="form3" style="margin-top:50px" ng-submit="deleteAccount()")
						div.bs-callout.bs-callout-danger
							h4 {{'important' | translate}}:
							p {{'message.deleteAccount.confirmation' | translate}}
						button.btn.btn-danger(type="submit" name="submit" translate="title.deleteAccount")