.carousel {
    background-color: white;
    min-height: 350px;
<<<<<<< HEAD
    padding-top: 20px;
=======
    padding-top: 40px;
>>>>>>> cba35fb530a96eae8f6ea04a24f8daa8fcb1b44e
    .carousel-control.left, .carousel-control.right {
        display: none;
    }
    .carousel-indicators li {
        border: 1px solid #3276b1;
        margin-left: 10px;
    }
    .carousel-indicators .active {
        background-color: #3276b1;
    }
    iframe {
        width: 420px;
<<<<<<< HEAD
        height: 300px;
=======
        height: 315px;
>>>>>>> cba35fb530a96eae8f6ea04a24f8daa8fcb1b44e
    }
}