.carousel {
    background-color: white;
    .carousel-control.left, .carousel-control.right {
        background-image: none;
    }
    .carousel-indicators li {
        border: 1px solid #3276b1;
        margin-left: 10px;
    }
    .carousel-indicators .active {
        background-color: #3276b1;
    }
    iframe {
        width: 420px;
        height: 300px;
    }
}