.search {
    padding-top: 40px;
    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p {
        text-align: center;
        span {
            color: white;
            vertical-align: middle;
        }
    }
    label {
        span {
            color: white;
        }
    }
}