@import 'carousel.scss';
@import 'search.scss';
@import 'marketing.scss';
@import 'contact.scss';
@import 'contacts.scss';
@import 'feedback.scss';

.home {
	background-color: #545454;
	border-color: #545454;
	padding-bottom: 60px;
}