div.row
	div.col-lg-12
		form.form-horizontal(name="form3" role="form" style="margin-top:10px")
			div.form-group
				label.col-lg-4.control-label(translate) Ouverture des inscriptions	
				div.form-group
					input.form-control(type="text" size="10" class="" ng-model="race.registration.registrationOpeningDate" data-autoclose="1" placeholder="{{ 'Date' | translate }}" bs-datepicker)
				div.form-group
					input.form-control(type="text" size="8" class="form-control" ng-model="race.registration.registrationOpeningDate" data-autoclose="1" placeholder="{{ 'Heure' | translate }}" bs-timepicker)
			div.form-group
				label.col-lg-4.control-label(translate) Fin des inscriptions
				div.form-group
					input.form-control(type="text" size="10" class="" ng-model="race.registration.registrationLimitDate" data-autoclose="1" placeholder="{{ 'Date' | translate }}" bs-datepicker)
				div.form-group
					input.form-control(type="text" size="8" class="form-control" ng-model="race.registration.registrationLimitDate" data-autoclose="1" placeholder="{{ 'Heure' | translate }}" bs-timepicker)
			div.form-group
				label.col-lg-4.control-label(translate) Inscription en ligne
				div.col-lg-6
					input.form-control(name="registrationWebSite" ng-model="race.registration.registrationWebSite" placeholder="{{ 'Inscription en ligne' | translate}}")
			div.form-group
				label.col-lg-4.control-label(translate) Adresse
				div.col-lg-6
					textarea.form-control(name="registrationAddress" rows="5" ng-model="race.registration.registrationAddress" placeholder="{{ 'Adresse' | translate}}")
			div.form-group
				label.col-lg-4.control-label(translate) Inscription sur place
				div.col-lg-6
					label.radio-inline
						input(type="radio" ng-model="race.registration.registrationOnPlace" value="{{ 'Oui' | translate}}")
						span(translate) Oui
					label.radio-inline
						input(type="radio" ng-model="race.registration.registrationOnPlace" value="{{ 'Non' | translate}}")
						span(translate) Non
			div.form-group
				label.col-lg-4.control-label(translate) Nombre de places disponibles
				div.col-lg-2(class="input-group")
					input.form-control(type="number" ng-model="race.registration.numberOfPlacesAvailable")
					span.input-group-addon(translate) places
			div.form-group
				label.col-lg-4.control-label(translate) Plus d'informations
			div.col-lg-8(text-angular text-angular-name="demo1" ng-model="race.registration.registrationMoreInformation" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default btn-xs" ta-toolbar-button-active-class="active")