div(class="row")
	div(class="col-sm-8")
		div.form-group
			label.col-lg-4.control-label(translate) Nombre de ravitaillements
			a(href="#" editable-number="race.therace.numberOfProvisions" e-min="0" e-translate) {{ race.therace.numberOfProvisions || 'Non communiqué' }}


	div(class="col-sm-12 animate-hide" ng-hide="editingInfo")
		h5(translate) Plus d'informations
		div(class="well"  ng-bind-html="race.therace.theRaceMoreInformation")
		button(class="btn btn-default" ng-click="editingInfo = !editingInfo" translate ) Editer
		
	div(class="col-sm-12 animate-hide" ng-show="editingInfo")
		div(text-angular ng-model="race.therace.theRaceMoreInformation")
		button(class="btn btn-primary" ng-click="editingInfo = !editingInfo"  translate) Valider
		button(class="btn btn-default" ng-click="editingInfo = !editingInfo" translate) Annuler