div.container
	div.bs-callout.bs-callout-info
		h4(translate) Infomations
		p(translate) Tous les champs  sont facultatifs. Tous les champs qui ne seront pas renseigné n'apparaitront pas dans la vue finale.
	tabset(vertical="false" type="navType")
		tab(heading="{{'Horaires' | translate}}")
			include ./editSchedule
		tab(heading="{{'Tarifs' | translate}}")
			include ./editPricing
		tab(heading="{{'Inscription' | translate}}")
			include ./editRegistration
		tab(heading="{{'Plan' | translate}}")
			include ./editPlan
		tab(heading="{{'Règlements' | translate}}")
			include ./editRights
		tab(heading="{{'La course' | translate}}")
			include ./editRace
		tab(heading="{{'Divers' | translate}}")
			include ./editMiscellaneous
