div.row
	div.col-lg-8
		form.form-horizontal(name="form6" role="form" style="margin-top:10px")
			div.form-group
				label.col-lg-4.control-label(translate) Nombre de ravitaillements
				div.col-lg-2
					input.form-control(type="number" ng-model="race.therace.numberOfProvisions")
			div.form-group
				label.col-lg-4.control-label(tranlate) Plus d'informations
			div.col-lg-12(text-angular text-angular-name="demo1" ng-model="race.therace.theRaceMoreInformation" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default btn-xs" ta-toolbar-button-active-class="active")