div(class="container")
	tabset(class="nrEditTab")
		tab(heading="{{'Horaires' | translate}}")
			include ./editSchedule
		tab(heading="{{'Tarifs' | translate}}")
			include ./editPricing
		tab(heading="{{'Inscription' | translate}}")
			include ./editRegistration
		tab(heading="{{'Plan' | translate}}")
			include ./editPlan
		tab(heading="{{'Règlements' | translate}}")
			include ./editRights
		tab(heading="{{'La course' | translate}}")
			include ./editRace
		tab(heading="{{'Divers' | translate}}")
			include ./editMiscellaneous
