div.row
	div.col-lg-8
		form.form-horizontal(name="form7" role="form" style="margin-top:10px")
			div.form-group
				label.col-lg-4.control-label(translate) Site web de L'organisateur
				div.col-lg-8
					input.form-control(ng-model="race.organizerWebSite" placeholder="{{'Site web de l\'organisateur' | translate}}")
			div.form-group
				label.col-lg-4.control-label(translate) Plus d'informations
			div.col-lg-12(text-angular text-angular-name="demo1" ng-model="race.miscellaneous.miscellaneousMoreInformation" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default btn-xs" ta-toolbar-button-active-class="active")