div(class="row")
	div(class="col-sm-6")
		form(class="form-horizontal" role="form")
			div(class="form-group")
				label(class="col-sm-2 control-label" translate) Adresse
				div(class="col-sm-10")
					input(type="text" class="form-control" ng-model="race.plan.address.address1" placeholder="{{'Adresse'| translate}}")
			div(class="form-group")
				label(class="col-sm-2 control-label" translate)
				div(class="col-sm-10")
					input(type="text" class="form-control" ng-model="race.plan.address.address2" placeholder="{{'Complément' | translate}}")
			div(class="form-group")
				label(class="col-sm-2 control-label" translate) Code postal
				div(class="col-sm-10")
					input(type="text" class="form-control" ng-model="race.plan.address.postcode" placeholder="{{'Code postal' | translate}}")
			div(class="form-group")
				label(class="col-sm-2 control-label" translate) Ville
				div(class="col-sm-10")
					input(type="text" class="form-control" ng-model="race.plan.address.city" placeholder="{{'Ville' | translate}}")
div(class="row")
	div(class="col-sm-12")
		div(class="form-group")
			label(class="col-lg-4 control-label" translate) Plus d'informations
		div(class="col-sm-12" text-angular ng-model="race.plan.planMoreInformation")