div.row
	div.col-lg-8
		form.form-horizontal(name="form1" role="form" style="margin-top:10px")
			div.form-group
				label.col-lg-4.control-label(translate) Départ
				div.form-group
					input.form-control(type="text" size="10" class="" ng-model="race.timing.startingTime" data-autoclose="1" placeholder="{{ 'Date' | translate }}" bs-datepicker)
				div.form-group
					input.form-control(type="text" size="8" class="form-control" ng-model="race.timing.startingTime" data-autoclose="1" placeholder="{{ 'Heure' | translate }}" bs-timepicker)
			div.form-group
				label.col-lg-4.control-label(translate) Briefing
				div.form-group
					input.form-control(type="text" size="10" class="" ng-model="race.timing.briefingTime" data-autoclose="1" placeholder="{{ 'Date' | translate }}" bs-datepicker)
				div.form-group
					input.form-control(type="text" size="8" class="form-control" ng-model="race.timing.briefingTime" data-autoclose="1" placeholder="{{ 'Heure' | translate }}" bs-timepicker)
			div.form-group
				label.col-lg-4.control-label(translate) Retrait des dossards
				div.form-group
					input.form-control(type="text" size="10" class="" ng-model="race.timing.checkoutBibTime" data-autoclose="1" placeholder="{{ 'Date' | translate }}" bs-datepicker)
				div.form-group
					input.form-control(type="text" size="8" class="form-control" ng-model="race.timing.checkoutBibTime" data-autoclose="1" placeholder="{{ 'Heure' | translate }}" bs-timepicker)
			div.form-group
				label.col-lg-4.control-label(translate) Récompenses
				div.form-group
					input.form-control(type="text" size="10" class="" ng-model="race.timing.rewardsTime" data-autoclose="1" placeholder="{{ 'Date' | translate }}" bs-datepicker)
				div.form-group
					input.form-control(type="text" size="8" class="form-control" ng-model="race.timing.rewardsTime" data-autoclose="1" placeholder="{{ 'Heure' | translate }}" bs-timepicker)
			div.form-group
				label.col-lg-4.control-label(translate) Plus d'informations
			div.col-lg-12(text-angular text-angular-name="demo1" ng-model="race.timing.timingMoreInformation" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default btn-xs" ta-toolbar-button-active-class="active")