div.container
	div.bs-callout.bs-callout-info
		h4(translate) Informations
		p(translate) Tous les champs  sont facultatifs. Tous les champs qui ne seront pas renseigné n'apparaitront pas dans la vue finale.
	div(bs-tabs class="nrEditTab")
		div(bs-pane title="{{'Horaires' | translate}}")
			include ./editSchedule
		div(bs-pane title="{{'Tarifs' | translate}}")
			include ./editPricing
		div(bs-pane title="{{'Inscription' | translate}}")
			include ./editRegistration
		div(bs-pane title="{{'Plan' | translate}}")
			include ./editPlan
		div(bs-pane title="{{'Règlements' | translate}}")
			include ./editRights
		div(bs-pane title="{{'La course' | translate}}")
			include ./editRace
		div(bs-pane title="{{'Divers' | translate}}")
			include ./editMiscellaneous
