div.row
	div.col-lg-8
		form.form-horizontal(name="form7" role="form")
			div.form-group
				label.col-lg-4.control-label(translate) Site web de L'organisateur
				div.col-lg-8
					input.form-control(ng-model="race.organizerWebSite" placeholder="{{'Site web' | translate}}")
			div.form-group
				label.col-lg-4.control-label(translate) Plus d'informations
			div.col-lg-12(text-angular ng-model="race.miscellaneous.miscellaneousMoreInformation")