div.row
	div.col-lg-6.col-lg-offset-2
		form.form-horizontal(role="form" name="raceForm" style="margin-top:50px" novalidate)
			
			div.form-group(ng-class="{'has-error': !raceForm.name.$pristine && raceForm.name.$invalid, 'has-success': !raceForm.name.$invalid}")
				label.control-label {{'Nom' | translate}}
				input.form-control(name="name" placeholder="ex: Triathlon de Paris" ng-model="race.name" required)
			
			div.form-group(ng-class="{'has-error':!raceForm.datetime.$pristine && raceForm.datetime.$invalid, 'has-success': !raceForm.datetime.$invalid}")
				label.control-label {{'Date' | translate}}
				input(type="text" class="form-control" ng-model="race.date" name="date" bs-datepicker date-format="dd MMMM yyyy" placeholder="Date")

			div.form-group(ng-class="{'has-error': !raceForm.location.$pristine && raceForm.location.$error.validLocation && raceForm.location.$invalid, 'has-success': !raceForm.location.$error.validLocation && raceForm.location.$valid}")
				label.control-label {{'Lieu' | translate}}
				input.form-control(name="location" placeholder="{{'ex: Paris' | translate}}" ng-model="race.pin.name" nr-has-location  gmaps-autocomplete options="options" details="race.pin" required)
						
			div.form-group(ng-class="{'has-error': !raceForm.type.$pristine && raceForm.type.$invalid, 'has-success': !raceForm.type.$invalid}")
				label.control-label {{'Type' | translate}}
				select.form-control(ng-model="race.type" name="type" ng-options="type.value as getType(type.value) for type in types" ng-change="onChange()" required)
					option(value="") {{'Sélectionner...' | translate}}

			div.form-group(ng-class="{'has-error': !raceForm.distanceType.$pristine && raceForm.distanceType.$invalid, 'has-success': !raceForm.distanceType.$invalid}")
				label.control-label {{'Distance' | translate}}
				select.form-control(ng-model="race.distanceType" name="type" ng-options="distance.name for distance in distances" required)
					option(value="") {{'Sélectionner...' | translate}}