div(class="modal-header")
	h3(class="modal-title") I'm a modal!

//div(class="row")
//	div(class="col-lg-12")
//		div(text-angular ng-model="model")
	
//	button(class="btn btn-primary" translate) Valider
//	button(class="btn btn-default" translate) Annuler