div.container
	div.row
		div.col-lg-5
			table.table.table-hover.table-condensed
				thead
					tr
						th(style="width: 50%;" class="rowBasic")
						th(style="width: 20%;" class="rowBasic")
				tbody
					tr
						td(class="rowBold") {{'Ouverture' | translate}}
							span :
						td(ng-if="race.registration.registrationOpeningDate != null" class="rowBasic") {{race.registration.registrationOpeningDate | amDateFormat:'DD MMMM YYYY'}}
						td(ng-if="race.registration.registrationOpeningDate == null" class="rowItalic") {{'Non communiqué' | translate}}

					tr
						td(class="rowBold") {{'Date limite' | translate}}
							span :
						td(ng-if="race.registration.registrationLimitDate != null" class="rowBasic") {{race.registration.registrationLimitDate | amDateFormat:'DD MMMM YYYY'}}
						td(ng-if="race.registration.registrationLimitDate == null" class="rowItalic") {{'Non communiqué' | translate}}

					tr
						td(class="rowBold") {{'Site web' | translate}}

						td(ng-if="race.registration.registrationWebSite != null" class="rowBasic") 
							a(ng-href="http://{{race.registration.registrationWebSite}}" target="_blank")
								span  {{race.registration.registrationWebSite}}
						td(ng-if="race.registration.registrationWebSite == null" class="rowItalic") {{'Non communiqué' | translate}}

					tr
						td(class="rowBold") {{'Adresse' | translate}}
							span :
						td(ng-if="race.registration.registrationAddress != null" class="rowBasic") {{race.registration.registrationAddress}}
						td(ng-if="race.registration.registrationAddress == null" class="rowItalic") {{'Non communiqué' | translate}}

					tr
						td(class="rowBold") {{'Inscription sur place' | translate}}
							span :
						td(ng-if="race.registration.registrationOnPlace != null" class="rowBasic") {{race.registration.registrationOnPlace}}
						td(ng-if="race.registration.registrationOnPlace == null" class="rowItalic") {{'Non communiqué' | translate}}

					tr
						td(class="rowBold") {{'Nombre de places disponibles' | translate}}
							span :
						td(ng-if="race.registration.numberOfPlacesAvailable != null" class="rowBasic") {{race.registration.numberOfPlacesAvailable}}
						td(ng-if="race.registration.numberOfPlacesAvailable == null" class="rowItalic") {{'Non communiqué' | translate}}

	div.well(ng-if="race.registration.registrationMoreInformation" ng-bind-html="race.registration.registrationMoreInformation")