div(class="example")
	h2(class="example-title")
	div(class="row")
		div(class="col-md-12")
			div(class="pricing")
				ul
					li(class="unit price-primary" ng-repeat="option in race.registration.options")
						div(class="price-title")
							h3 {{option.price}}
								i(class="fa fa-eur")
						div(class="price-body")
							h4 {{option.name}}
							p
							ul
								li(translate) Date limite: {{race.registration.closingDate | date:"dd/mm/yyyy"}}
								li(translate) Nombre de dossard: {{race.registration.limitedPlaces}}
						div(class="price-foot")
							button(type="button" class="btn btn-primary" translate) S'inscrire

