div.container
	div(ng-if="race.plan.address.city == null" align="left" style="border:0; border-top: none;font-style:italic") {{'Nom communiqué' | translate}}
	div.row(style="margin-top:20px")
		div.col-lg-4(ng-if="race.plan != null && race.plan.address != null && race.plan.address.city != null")
			address
				span {{race.plan.address.address1}}
				br
				span(ng-if="race.plan.address.address2 != ''") {{race.plan.address.address2}}
				br(ng-if="race.plan.address.address2 != ''")
				span <strong>{{race.plan.address.postcode}} - {{race.plan.address.city}}</strong>
				br
			div.well(ng-if="race.plan.planMoreInformation" ng-bind-html="race.plan.planMoreInformation")
		div.col-lg-4(ng-if="isVisible && race.plan.address.latlng.lat != null && race.plan.address.latlng.lng != null")
			gm-map(gm-map-id="'mapPlan'" gm-center="center" gm-zoom="zoom" gm-map-options="options.map" style="width:250px;height:250px" )
				gm-markers(gm-objects="addressMarkers" gm-id="object.id" gm-position="{lat: object.location.lat, lng: object.location.lng}")