div(class="row")
	div(class="col-sm-12")
		div(class="panel panel-default")
			div(class="panel-heading" translate) Plus d'informations
				a(class="pull-right" ng-click="editMoreInformation(race.rights)")
					span(class="glyphicon glyphicon-pencil")

			div(ng-if="race.rights.moreInformation" class="panel-body" ng-bind-html="race.rights.moreInformation")
			div(ng-if="!race.rights.moreInformation" class="panel-body" translate) Non communiqué