div(class="row")
	div(class="col-lg-8")
		div
			span(class="title" e-translate) Licenciés:
			a(href="#" editable-number="race.pricing.memberFFPrice" e-min="0") {{ race.pricing.memberFFPrice || 'Non communiqué' }}
		div
			span(class="title" e-translate) Non licenciés:
			a(href="#" editable-number="race.pricing.notMemberFFPrice" e-min="0") {{ race.pricing.notMemberFFPrice || 'Non communiqué' }}
div(class="row")
	div(class="col-sm-12")
		div(class="panel panel-default")
			div(class="panel-heading" translate) Plus d'informations
				a(class="pull-right" ng-click="editMoreInformation(race.pricing)")
					span(class="glyphicon glyphicon-pencil")

			div(ng-if="race.pricing.moreInformation" class="panel-body" ng-bind-html="race.pricing.moreInformation")
			div(ng-if="!race.pricing.moreInformation" class="panel-body" translate) Non communiqué