div(class="row")
	div(class="col-md-12")
		div(class="timeline")
			dl
				dt {{race.date | date:'dd MMMM yyyy'}}
				dd(class="pos-right clearfix" ng-repeat="event in race.schedule.events | orderBy:'date':false")
					div(class="circ")
					div(class="time") {{event.date | date:'HH:mm'}}
					div(class="events")
						div(class="pull-left")
							i(class="fa-4 fa fa-flag-checkered events-object")
						div(class="events-body")
							h4(class="events-heading") {{event.name}}
							p {{event.description}}