div.container
	tabset
		tab(heading="{{'Horaires' | translate}}")
			include ./viewSchedule2
		tab(heading="{{'Tarifs' | translate}}")
			include ./viewPricing2
		tab(heading="{{'Inscription' | translate}}")
			include ./viewRegistration2
		tab(heading="{{'Plan' | translate}}" ng-click="onChangeOrganisationTab()")
			include ./viewPlan2
		tab(heading="{{'Règlements' | translate}}")
			include ./viewRights2
		tab(heading="{{'La course' | translate}}")
			include ./viewRace2
		tab(heading="{{'Divers' | translate}}")
			include ./viewMiscellaneous2