div.container
	div.well(ng-if="race.rights.rightsMoreInformation != null" ng-bind-html="race.rights.rightsMoreInformation")
	div(ng-if="race.rights.rightsMoreInformation == null" align="left" style="border:0; border-top: none;font-style:italic") {{'Non communiqué' | translate}}