div.container
	tabset(vertical="false" type="navType")
		tab(heading="{{'Horaires' | translate}}")
			include ./viewSchedule
		tab(heading="{{'field.pricing' | translate}}")
			include ./viewPricing
		tab(heading="{{'field.registration' | translate}}")
			include ./viewRegistration
		tab(ng-click="onChangeOrganisationTab()" heading="{{'field.plan' | translate}}")
			include ./viewPlan
		tab(heading="{{'field.rights' | translate}}")
			include ./viewRights
		tab(heading="{{'field.therace' | translate}}")
			include ./viewRace
		tab(heading="{{'field.miscellaneous' | translate}}")
			include ./viewMiscellaneous