div.container
	div.row
		div.col-lg-4
			table.table.table-hover.table-condensed
				thead
					tr
						th(style="width: 40%;" class="rowBasic")
						th(style="width: 20%;" class="rowBasic")
				tbody
					tr
						td(class="rowBold") {{'Licencié' | translate}}
							span :
						td(ng-if="race.pricing.memberFFPrice != null" class="rowBasic") {{race.pricing.memberFFPrice}}
							i.fa.fa-eur
						td(ng-if="race.pricing.memberFFPrice == null" class="rowItalic") {{'Non communiqué' | translate}}
					tr
						td(class="rowBold") {{'Non licencié' | translate}}
							span :
						td(ng-if="race.pricing.notMemberFFPrice != null" class="rowBasic") {{race.pricing.notMemberFFPrice}}
							i.fa.fa-eur
						td(ng-if="race.pricing.notMemberFFPrice == null" class="rowItalic") {{'Non communiqué' | translate}}
div.well(ng-if="race.registration.registrationMoreInformation" ng-bind-html="race.registration.registrationMoreInformation")