div(class="row")
	div(class="col-lg-8")
		div
			span(class="title" e-translate) Ouverture: 
			a(href="#" nr-editable-bsdate="race.registration.registrationOpeningDate") {{ (race.registration.registrationOpeningDate | date:"dd/MM/yyyy") || 'Non communiqué' }}
		div
			span(class="title" e-translate) Fermeture: 
			a(href="#" nr-editable-bsdate="race.registration.registrationLimitDate") {{ (race.registration.registrationLimitDate | date:"dd/MM/yyyy") || 'Non communiqué' }}
		div
			span(class="title" e-translate) Inscription en ligne: 
			a(href="#" editable-url="race.registration.registrationWebSite") {{ race.registration.registrationWebSite || 'Non communiqué' }}
		div
			span(class="title" e-translate) Adresse postale: 
			a(href="#" editable-textarea="race.registration.registrationAddress" e-rows="7" e-cols="40")
				pre {{ race.registration.registrationAddress || 'Non communiqué' }}
		div
			span(class="title" e-translate) Inscription sur place: 
			a(href="#" editable-radiolist="race.registration.registrationOnPlace" e-ng-options="choice for choice in choices") {{ race.registration.registrationOnPlace || 'non' }}
		div
			span(class="title" e-translate) Nombre de places disponibles:
			a(href="#" editable-number="race.registration.numberOfPlacesAvailable" e-min="0") {{ race.registration.numberOfPlacesAvailable || 'Non communiqué' }}
div(class="row")
	div(class="col-sm-12")
		div(class="panel panel-default")
			div(class="panel-heading" translate) Plus d'informations
				a(class="pull-right" ng-click="editMoreInformation(race.registration)")
					span(class="glyphicon glyphicon-pencil")

			div(ng-if="race.registration.moreInformation" class="panel-body" ng-bind-html="race.registration.moreInformation")
			div(ng-if="!race.registration.moreInformation" class="panel-body" translate) Non communiqué