div.container
	div.well(ng-if="race.miscellaneous.miscellaneousMoreInformation != null" ng-bind-html="race.miscellaneous.miscellaneousMoreInformation")
	div(ng-if="race.miscellaneous.miscellaneousMoreInformation == null" align="left" style="border:0; border-top: none;font-style:italic") {{'Non communiqué' | translate}}