div.container
	tabset
		tab(heading="{{'Horaires' | translate}}")
			include ./viewSchedule
		tab(heading="{{'Tarifs' | translate}}")
			include ./viewPricing
		tab(heading="{{'Inscription' | translate}}")
			include ./viewRegistration
		tab(heading="{{'Plan' | translate}}" ng-click="onChangeOrganisationTab()")
			include ./viewPlan
		tab(heading="{{'Droits' | translate}}")
			include ./viewRights
		tab(heading="{{'La course' | translate}}")
			include ./viewRace
		tab(heading="{{'Divers' | translate}}")
			include ./viewMiscellaneous