div(class="row")
	div(class="col-lg-8")
		div
			span(class="title" e-translate) Nombre de ravitaillements:
			a(href="#" editable-number="race.therace.numberOfProvisions" e-min="0") {{ race.therace.numberOfProvisions || 'Non communiqué' }}
div(class="row")
	div(class="col-sm-12")
		div(class="panel panel-default")
			div(class="panel-heading" translate) Plus d'informations
				a(class="pull-right" ng-click="editMoreInformation(race.therace)")
					span(class="glyphicon glyphicon-pencil")

			div(ng-if="race.therace.moreInformation" class="panel-body" ng-bind-html="race.therace.moreInformation")
			div(ng-if="!race.therace.moreInformation" class="panel-body" translate) Non communiqué