div(class="example")
	h2(class="example-title")
	div(class="row")
		div(class="col-md-12")
			div(class="pricing")
				ul
					li(class="unit price-primary")
						div(class="price-title")
							h3 15€
						div(class="price-body")
							h4 Licencié FFTri
							p
							ul
								li Date limite: 13/11/2014
								li Nombre de dossard: 250
						div(class="price-foot")
							button(type="button" class="btn btn-primary") S'inscrire
					li(class="unit price-success active")
						div(class="price-title")
							h3 20€
						div(class="price-body")
							h4 Non Licencié
							p
							ul
								li Date limite: 13/11/2014
								li Nombre de dossard: 250
						div(class="price-foot")
							button(type="button" class="btn btn-primary") S'inscrire

