div(class="row")
	div(class="col-md-12")
		div(class="timeline")
			dl
				dt {{race.date | date:'dd MMMM yyyy'}}
				dd(ng-class="{'pull-left': $even , 'pull-right': $odd}" class="clearfix" ng-repeat="event in race.schedule.events | orderBy:'date':true")
					div(class="circ")
					div(class="time") {{event.date | date:'HH:mm'}}
					div(class="events")
						div(ng-class="{'pull-left': $even , 'pull-right': $odd }")
							i(class="fa-4 fa fa-flag-checkered events-object")
						div(class="events-body")
							h4(class="events-heading") {{event.name}}
							p {{event.description}}