div.container
	div.row
		div.col-lg-4
			table.table.table-condensed.table-hover
				thead
					tr
						th(style="width: 50%;" class="rowBasic")
						th(style="width: 50%;" class="rowBasic")
				tbody
					tr
						td(class="rowBold") {{'Nom de ravitaillements' | translate}}
							span :
						td(ng-if="race.therace.numberOfProvisions != null" class="rowBasic") {{race.therace.numberOfProvisions}}
						td(ng-if="race.therace.numberOfProvisions == null" class="rowItalic") {{'Non communiqué' | translate}}
	div.well(ng-if="race.therace.theRaceMoreInformation" ng-bind-html="race.therace.theRaceMoreInformation")