div.container(style="padding-bottom: 50px;")
	div.container.bs-docs-container
		div.row
			div.col-lg-4
				div.bs-sidebar.hidden-print.affix(role="complementary" style data-toggle="affix" data-spy="affix" data-offset-top="255" data-offset-bottom="200")
					ul.nav.bs-sidenav
						li.active
							a(href="#/users/settings/#changeProfileTab" target="_self") Profil
						li
							a(href="#/users/settings/#changePasswordTab" target="_self") Changer de mot de passe
						li
							a(href="#/users/settings/#deleteAccountTab" target="_self") Supprimer mon compte
			div.col-lg-8(role="main")
				div.bs-docs-section.active
					div.page-header
						h1(id="changeProfileTab") Changement de profil
					form(role="form",  style="margin-top:50px", name="form1", novalidate)
						div.form-group(ng-class="{'has-error': !form1.username.$pristine && form1.username.$invalid, 'has-success': !form1.username.$pristine && !form1.username.$invalid}")
							label.control-label(for="username") Nom complet
							input.form-control(type="text", name="username", id="username", placeholder="ex: Nicolas Dupont", data-ng-model="user.username", ng-minlength="4", ng-maxlength="30", required)
							span.help-block(ng-show="form1.username.$dirty && form1.username.$error.required") Please choose a username
							span.help-block(ng-show="form1.username.$dirty && form1.username.$error.invalidChars") Username may not contain any non-url-safe characters
							span.help-block(data-ng-show="form1.username.$dirty && form1.username.$error.minlength") Votre nom doit contenir entre 4 et 30 caractères
							span.help-block(data-ng-show="form1.username.$dirty && form1.username.$error.maxlength") Votre nom doit contenir entre 4 et 30 caractères
						div.form-group(ng-class="{'has-error': !form1.email.$pristine && form1.email.$invalid, 'has-success': !form1.email.$invalid && !form1.email.$pristine}")
							label.control-label(for="email") Email
							input.form-control(type="email", name="email", id="email", placeholder="Email" ,data-ng-model="user.email", required)
							span.help-block(data-ng-show="form1.email.$dirty && form1.email.$error.required") Veuillez saisir votre email
							span.help-block(ng-show="form1.email.$error.email") Email invalide
						hr
						div.form-group.text-right
							button.btn.btn-primary(id="submitProfileSettings", type="submit",  ng-click="updateProfile()", ng-disabled="form1.$invalid || isUnchanged(user)") Enregistrer
				div.bs-docs-section
					div.page-header	
						h1(id="changePasswordTab") Changement de mot de passe
					form(role="form", name="form", style="margin-top:50px")
						div.form-group(ng-class="{'has-error': !form.actualPassword.$pristine && form.actualPassword.$invalid, 'has-success': !form.actualPassword.$invalid && !form.actualPassword.$pristine}")
							label.control-label(type="password", for="actualPassword") Mot de passe
							input.form-control(type="password", name="actualPassword", id="actualPassword", placeholder="Mot de passe actuel",data-ng-model="actualPassword",  required, ng-minlength="4", ng-maxlength="8")
							span.help-block(ng-show="form.actualPassword.$dirty && form.actualPassword.$error.required") Please enter a password
							span.help-block(data-ng-show="form.actualPassword.$dirty && form.actualPassword.$error.minlength") Votre mot de passe doit contenir entre 4 et 8 caractères
							span.help-block(data-ng-show="form.actualPassword.$dirty && form.actualPassword.$error.maxlength") Votre mot de passe doit contenir entre 4 et 8 caractères
						
						div.form-group(ng-class="{'has-error': !form.newPassword.$pristine && form.newPassword.$invalid, 'has-success': !form.newPassword.$invalid && !form.newPassword.$pristine}")
							label.control-label(type="password", for="newPassword") Nouveau mot de passe
							input.form-control(type="password", name="newPassword",  id="newPassword", placeholder="Nouveau mot de passe",data-ng-model="newPassword",  required, match="confirmNewPassword", ng-minlength="4", ng-maxlength="8")
							span.help-block(ng-show="form.newPassword.$dirty && form.newPassword.$error.required") Please enter a password
							span.help-block(data-ng-show="form.newPassword.$dirty && form.newPassword.$error.minlength") Votre mot de passe doit contenir entre 4 et 8 caractères
							span.help-block(data-ng-show="form.newPassword.$dirty && form.newPassword.$error.maxlength") Votre mot de passe doit contenir entre 4 et 8 caractères
						
						div.form-group(ng-class="{'has-error': !form.confirmNewPassword.$pristine && form.confirmNewPassword.$invalid, 'has-success': !form.confirmNewPassword.$error.match && !form.confirmNewPassword.$pristine}")
							label.control-label(for="confirmNewPassword") Confirmer le mot de passe
							input.form-control(type="password", name="confirmNewPassword", placeholder="Confirmer le mot de passe", required, match="confirmNewPassword",data-ng-model="confirmNewPassword"))
							span.help-block(ng-show="form.confirmNewPassword.$dirty && form.confirmNewPassword.$error.required") Please repeat your password
							span.help-block(ng-show="form.confirmNewPassword.$dirty && form.confirmNewPassword.$error.match && !form.confirmNewPassword.$error.required") Passwords don't match
						div.alert.alert-danger.fade.hide(id="invalidPassword")
						hr
						div.form-group.text-right
							button.btn.btn-primary(ng-click="updatePassword()",  ng-disabled="form.$invalid") Enregistrer
				div.bs-docs-section
					div.page-header	
						h1(id="deleteAccountTab") Supprimer mon compte
					form(role="form",  style="margin-top:50px", ng-click="deleteAccount()")
						div.bs-callout.bs-callout-danger
							h4 Important:
							p Si vous souhaitez supprimer votre compte, tous les parcours que vous avez créé seront supprimés
						button.btn.btn-danger(type="submit") Supprimer mon compte