footer {
    height: 240px;
    background-color: #545454;
    padding-bottom: 40px;
    padding-top: 100px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    .nr-docs-social {
        margin-bottom: 20px;
        text-align: center;
        .nr-docs-social-buttons {
            li {
                display: inline-block;
                padding: 5px 8px;
                div,span,iframe {
                    vertical-align: middle !important;
                }
            }
        }
    }
    .nr-docs-footer-links {
        padding-left: 0;
        margin-top: 20px;
        color: #999;
        li {
            display: inline;
            padding: 0 2px;
            a {
                color: white;
            }
        }
    }
}