
.marketing {
	strong {
		color:#428bca;
	}
}


.custom-marketing h3 {
  color: white;
}

.custom-marketing p {
  color: white;
}

.custom-marketing h2 {
  color: white;
}

.custom-marketing label {
  color: black;
}

.custom-marketing em {
  color: white;
}
