@import 'compass';
@import '../../commons/styles/commons.scss';
@import '../../auth/styles/auth.scss';
@import '../../home/styles/home.scss';
@import '../../race/styles/race.scss';
@import 'header.scss';
@import 'animations.scss';
@import 'footer.scss';


html {
    body {
        height: 100%;
        .view-container {
            padding-top: 60px;
            min-height: 100%;
            height: auto !important;
        }
    }
}