@import 'compass';

@import '../../commons/styles/commons.scss';
@import '../../auth/styles/auth.scss';
@import '../../home/styles/home.scss';
@import '../../race/styles/race.scss';

@import 'animations.scss';
/*@import 'docs.scss';*/
@import 'sticky-footer.scss';
@import 'footer.scss';
@import 'header.scss';
@import 'marketing.scss';
@import 'contacts.scss';

.custom-bs-background {
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: #545454;
  border-color: #463265;
}


.table th, .table td {
     border-top: none;
 }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: blue;
}


.form-inline  {
    text-align:center;
}

.form-inline .form-group {
    padding-right: 10px;
}

.center {
  display:inline-block;
}

.form-inline .form-group input {
    width:250px;
    padding-right: 10px;
}




.custom-marketing h3 {
  color: white;
}

.custom-marketing p {
  color: white;
}

.custom-marketing h2 {
  color: white;
}

.custom-marketing label {
  color: black;
}

.custom-marketing em {
  color: white;
}


/** home page **/
#contactType option { color: black; }
.empty { color: #999999; }


/** Drop down **/
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #3276b1;
}

.modal {
    display: block;
}

/** Rich text editor **/
.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

.disabled {
    color: grey;
}

