
header
	include ./header

footer(role="contentinfo")
	include ./footer

	//div(id="fb-root")
	//include ./messages

	//div.ng-cloak(ng-cloak class="view-container")
	//div(id="main" ng-view class="view-frame ng-cloak")

	//div.footer.ng-cloak(id="footer" ng-cloak ng-controller="FooterController")
	//footer
	//	include ./footer