div(class="wrapper")
	header
		include ./header

	div(id="fb-root")

	div(ng-cloak class="view-container")

		nr-login(ng-if="mode === 'login'" ng-controller="LoginController")

		div(ng-if="mode === 'app'" ng-view class="view-frame")

footer(role="contentinfo")
	include ./footer

