div(class="wrapper")
	header
		include ./header

	div(id="fb-root")

	include ./messages

	div(ng-cloak class="view-container")
		div(ng-view class="view-frame")

footer(role="contentinfo")
	include ./footer

