div.container
	carousel(interval="5000")
		slide
			div.row
				div.col-lg-5.col-lg-offset-1
					h2(translate) Toutes les épreuves d'endurance rassemblées sur un même site
					p(translate) Triathlon , Trail, VTT, Cyclo...
				div.col-lg-6
					iframe(width="420" height="315" src="//www.youtube.com/embed/t7xmvmTFacw" frameborder="0" allowfullscreen)
		slide
			div.row
				div.col-lg-5.col-lg-offset-1
					h2(translate) Trouver et préparer votre course
					p(translate) Analyser le détail du parcours (dénivelé, altitude, distance...)
				div.col-lg-6
					img(id="reponsive-img" src="client/modules/main/images/show_screenshot.png" style="width: 100%; height:auto;display: inline-block;")
		slide
			div.row
				div.col-lg-5.col-lg-offset-1
					h2(translate) Promouvoir votre manifestation
					p(translate) Détailler l'ensemble de votre manifestion (parcours, organisation, nombre de places...)
					button.btn.btn-primary.btn-lg(ng-click="goToNewRace()" translate) Commencer maintenant !
				div.col-lg-6
					img(id="reponsive-img" src="client/modules/main/images/edit_screenshot.png" style="width: 100%; height:auto;display: inline-block;")