header.navbar.navbar-inverse.navbar-fixed-top.custom-bs-docs-nav(role="banner" data-ng-Controller='HeaderController')
	div.navbar-inner
		div.container
			div.navbar-header
				a.btn-navbar(data-toggle="collapse", data-target=".bs-navbar-collapse")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="/")
					img.img-responsive(src="client/modules/main/images/logo_officiel.png" width="25" height="25" alt="")
				a.navbar-brand(href="/" style="margin-left:-25px") NEXTRUN

			div.navbar-collapse.collapse.bs-navbar-collapse

				ul.nav.navbar-nav
					li
						a(href="/races/search") Rechercher
				ul.nav.navbar-nav.navbar-right
					li.dropdown(data-ng-show="isLoggedIn()")
						a.dropdown-toggle(data-toggle="dropdown") {{user.username}}
							b.caret
						ul.dropdown-menu
							li
								a(href="/myraces") Mes manifestations
							li
								a(href="/users/settings") Paramètres
							li
								a(data-ng-click="logout()") Se déconnecter
					li(data-ng-hide="isLoggedIn()")
						form(class="navbar-form navbar-left")
							button(type="submit", class="btn btn-primary", data-ng-click="login()") 
								span.glyphicon.glyphicon-user 
								span  Se connecter
