nav(class="navbar navbar-default navbar-fixed-top" role="navigation" ng-Controller="HeaderController")
	div(class="container")
		div(class="navbar-header")
			a(class="navbar-brand" ui-sref="home")
				img(class="img-responsive" src="client/modules/main/images/logo_officiel.png" width="25" height="25" alt="Brand")
			a(class="navbar-brand" ui-sref="home") NEXTRUN
		div(class="collapse navbar-collapse")
			form(class="navbar-form navbar-left" role="search")
				div(class="form-group input-group ng-cloak")
					input(class="form-control twitter-typeahead" type="text" placeholder="{{'Recherche directe' | translate}}" typeahead-editable="true" typeahead-on-select='onSelect($item)' ng-model="selectedItem" typeahead="item as item.name for item in autocomplete($viewValue) | filter:{name:$viewValue} | limitTo:8")
					span(class="input-group-addon")
						span(class="glyphicon glyphicon-search")
			ul(class="nav navbar-nav")
				li 
					a(ui-sref="search" translate) Recherche avancée
				li(ng-show="isLoggedIn()")
					a(ui-sref="routes({id: user.id})" translate) Mes Parcours
				li(ng-show="isLoggedIn()")
					a(ui-sref="myraces({id: user.id})" translate) Mes Manifestations
			ul(class="nav navbar-nav navbar-right")
				li(class="dropdown" ng-show="isLoggedIn()")
					a(class="dropdown-toggle" ng-cloak) {{user.username}}
						span(class="caret")
					ul(class="dropdown-menu" role="menu")
						li
							a(ui-sref="myraces({id: user.id})" translate) Mes Manifestations
						li
							a(ui-sref="routes({id: user.id})" translate) Mes Parcours
						li(ng-if="isAdmin()")
							a(ui-sref="users" translate) Utilisateurs
						li(ng-if="isAdmin()")
							a(ui-sref="contacts" translate) Contacts
						li(ng-if="isAdmin()")
							a(ng-click="goToSearch()" translate) Manifestations
						li(ng-if="isAdmin()")
							a(ui-sref="allroutes" translate) Parcours
						li(ng-if="isAdmin()")
							a(ui-sref="allworkouts" translate) Sorties
						li
							a(ui-sref="settings" translate) Paramètres
						li
							a(ng-click="logout()" translate) Se déconnecter
				li(ng-hide="isLoggedIn()")
					a(ui-sref="signup" translate) S'inscrire
				li(ng-hide="isLoggedIn()")
					form(class="navbar-form navbar-right")
						button(type="submit" class="btn btn-primary" ng-click="login()")
							i(class="fa fa-user" translate) &nbsp; Se connecter