meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width")
meta(name="keywords" content="{{'manifestation sportive, endurance, trail, triathlon, cyclosportive, vtt, cyclotourisme, cyclo, &eacute;preuve, ironman, longue distance, course &agrave; pied, parcours, d&eacute;nivel&eacute;, cross, marathon, duathlon, ski de fond, aquathlon' | translate}}")

nr-meta(name="description" nr-content="meta.ogDescription")

meta(property="og:type" content="website")
nr-meta(property="og:title" nr-content="meta.ogTitle")
nr-meta(property="og:image" nr-content="meta.ogImage")
nr-meta(property="og:url" nr-content="meta.ogUrl")
nr-meta(property="og:description" nr-content="meta.ogDescription")

meta(name="fragment" content="!")
meta(name="google-site-verification" content="XyiSoYfguJ-59aia60gM2hXqUantvQTg8eZ_dfKvqzg")
meta(property="fb:app_id" content="195803770591615")
meta(property="fb:admins" content="1320496159")