meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width")

meta(name='description' content="{{ogDescription}}")
meta(name='keywords' content="{{'manifestation sportive, endurance, trail, triathlon, cyclosportive, vtt, cyclotourisme, cyclo, &eacute;preuve, ironman, longue distance, course &agrave; pied, parcours, d&eacute;nivel&eacute;, cross, marathon, duathlon, ski de fond, aquathlon' | translate}}")

meta(property="og:title" content="{{ogTitle}}")
meta(property="og:type" content="website")
meta(property="og:image" content="http://www.nextrun.fr/img/logo_officiel.png")
meta(property="og:url" content="{{ogUrl}}")
meta(property="og:description" content="{{ogDescription}}")
meta(name="fragment" content="!")
meta(name="google-site-verification" content="XyiSoYfguJ-59aia60gM2hXqUantvQTg8eZ_dfKvqzg")
meta(property="fb:app_id" content="195803770591615")
meta(property="fb:admins" content="1320496159")