meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width")

meta(ng-if="ogDescription" name='description' content="{{ogDescription}}" ng-cloak)
meta(ng-if="!ogDescription" name='description' content="Toutes les épreuves d'endurances regroupées sur un même site" ng-cloak)
meta(name='keywords' ng-cloak content="{{'manifestation sportive, endurance, trail, triathlon, cyclosportive, vtt, cyclotourisme, cyclo, &eacute;preuve, ironman, longue distance, course &agrave; pied, parcours, d&eacute;nivel&eacute;, cross, marathon, duathlon, ski de fond, aquathlon' | translate}}")

meta(property="og:title" content="{{ogTitle}}" ng-cloak)
meta(property="og:type" content="website")
meta(ng-if="!ogImage" property="og:image" content="http://www.nextrun.fr/client/modules/main/images/logo_officiel.png")
meta(ng-if="ogImage" property="og:image" content="{{ogImage}}")
meta(property="og:url" content="{{ogUrl}}" ng-cloak)
meta(property="og:description" content="{{ogDescription}}" ng-cloak)
meta(name="fragment" content="!")
meta(name="google-site-verification" content="XyiSoYfguJ-59aia60gM2hXqUantvQTg8eZ_dfKvqzg")
meta(property="fb:app_id" content="195803770591615")
meta(property="fb:admins" content="1320496159")