div(class="edit-route")
	nav(class="navbar navbar-default" role="navigation")
		div(class="collapse navbar-collapse")
			form(class="navbar-form navbar-left" role="search")
				div(class="input-group")
					input(type="text" class="form-control" placeholder="{{'Entrer un lieu' | translate}}" ng-model="location.name" gmaps-autocomplete options="map.options" details="location.details")
					span(class="input-group-btn")
						button(class="btn btn-default" type="submit")
							span(class="glyphicon glyphicon-search")
			
			ul(class="nav navbar-nav")
				li
					a(ng-click="undo(routeViewModel)" class="text-center")
						i(class="fa fa-undo fa-3")
						br
						span(translate) Retour
				li
					a(ng-click="delete(routeViewModel)" class="text-center")
						i(class="fa fa-remove fa-3")
						br
						span(translate) Effacer


			form(class="navbar-form navbar-left")
				input(bs-switch type="checkbox" ng-model="modeManu" switch-label="manu" switch-on-color="success" switch-off-color="default" switch-on-text="On" switch-off-text="Off")

			//div(class="navbar-form navbar-right")
			//	input(type="file" ng-model="$files" nr-file-select="onFileSelect($files, routeViewModel)")
			form(class="navbar-form navbar-right" name="routeForm" novalidate role="form")
				div(class="form-group"  ng-class="{'has-error': !routeForm.name.$pristine && routeForm.name.$invalid, 'has-success': !routeForm.name.$invalid && !routeForm.name.$pristine}")
					label(class="control-label" for="name" translate) Nom
					input(class="form-control" id="name" name="name" placeholder="{{'Nom' | translate}}" type="text" ng-model="routeViewModel.data.name" ng-required="true")

				div(class="form-group" ng-class="{'has-error': !routeForm.type.$pristine && routeForm.type.$invalid, 'has-success': !routeForm.type.$invalid && !routeForm.type.$pristine}")
					label(class="control-label" for="type") {{'Type' | translate}}
					select(class="form-control"  id="type" class="form-control" ng-change="onChange(routeViewModel.data.type)" name="type" ng-model="routeViewModel.data.type" ng-options="type as gettextCatalog.getString(type) for type in types" ng-required="true")
						option(value="") {{'Sélectionner...' | translate}}
				div(class="form-group")
					div(class="btn-group" dropdown is-open="status.isopen")
						button(type="button" class="btn btn-primary" ng-disabled="routeForm.$invalid" ng-click="submit()") Enregistrer
						button(type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" dropdown-toggle)
							span(class="caret")
							span(class="sr-only") Split button!
						ul(class="dropdown-menu" role="menu")
							li(ng-class="{'disabled' : routeForm.$invalid}")
								a(ng-click="submit()" translate) Enregistrer
							li(class="divider")
							li
								a(nr-import-gpx translate) Importer GPX
								input(type="file" id="fileInput" ng-hide="true")  
							li
								a(ng-click="cancel()" translate) Fermer

	include map
	div(class="inline-stats")
		a(ng-click="isCollapsed = !isCollapsed")
			span(class="hyperspan")
		div(class="well")
			ul(class="list-inline")
				li(class="text-center")
					strong {{routeViewModel.getDistance() | number:2 }} km
					br
					span(class="small" translate) Distance
				li(class="text-center")
					strong {{routeViewModel.getAscendant() | number:0 }} m
					br
					span(class="small" translate) Dénivelé positif
				li(class="text-center")
					strong {{routeViewModel.getDescendant() | number:0 }} m
					br
					span(class="small" translate) Dénivelé négatif
				li(class="text-center")
					strong {{routeViewModel.getMaxElevation() | number:0 }} m
					br
					span(class="small" translate) Altitude max
				li(class="text-center")
					strong {{routeViewModel.getMinElevation() | number:0 }} m
					br
					span(class="small" translate) Altitude min
			div(class="row" collapse="isCollapsed")
				div(class="col-md-12")
					highchart(ng-if="routeViewModel.isVisible()" id="{{routeViewModel.getType()}}" ng-hide="routeViewModel.getType() === 'Natation'" config="routeViewModel.getChartConfig()")


