form(role="form" name="addressForm" novalidate)
	div(class="row")
		div(ng-if="!editMode || !edit" class="col-md-8 col-lg-offset-2")
			h5
				i(class="fa fa-map-marker fa-3")
				| &nbsp; {{ race.place.name || 'Non communiqué' }} ({{ race.place.department.code || '' }})
		div(class="col-md-6 col-lg-offset-2" ng-if="editMode && edit" class="form-group" ng-class="{'has-error': !addressForm.place.$pristine && addressForm.place.$error.validLocation && addressForm.place.$invalid, 'has-success': !addressForm.place.$error.validLocation && addressForm.place.$valid  && !addressForm.place.$pristine}")
			label(class="control-label") {{'Lieu' | translate}}
			input(class="form-control" type="text" name="place" placeholder="{{'ex: Paris' | translate}}" ng-model="race.place.name" nr-has-location gmaps-autocomplete options="options" details="race.place" ng-required="true")
		div(ng-if="editMode && !edit" class="col-md-2")
			button(ng-click="toggleEdit()" class="btn btn-default btn-sm")
				i(class="fa fa-pencil-square-o")
		div(ng-if="editMode && edit" class="col-md-4")
			button(ng-click="update()" ng-disabled="addressForm.$invalid" class="btn btn-primary btn-sm")
				i(class="fa fa-check")
			button(ng-click="cancel()" class="btn btn-default btn-sm")
				i(class="fa fa-remove")
	div(class="row")
		div(class="col-lg-8 col-lg-offset-2 address-map-container")
			google-map(center="placeMarker.coords" zoom="mapOptions.zoom")
				marker(idkey="placeMarker.id" coords="placeMarker.coords" icon="placeMarker.icon")