div(class="modal-header")
	button(class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()") &times;
	h4(class="modal-title" translate) Confirmation
div(class="modal-body")
	div(class="row")
		div(class="col-lg-10")
			label(class="control-label" translate) Etes-vous sûr de vouloir changer de type de manifestation, les parcours en cours seront réinitialisés ?
			b {{race.name}}
div(class="modal-footer")
	button(class="btn btn-default" type="button" ng-click="cancel()" translate) Annuler
	button(class="btn btn-primary" type="button" ng-click="continue()" translate) Continuer