div(class="container")
	div(class="row")
		div(class="col-md-4 col-md-offset-4")
			h3(class="text-center" translate) Création d'une manifestation
			form(class="form-horizontal" role="form" name="raceForm" novalidate)
				div(class="form-group" ng-class="{'has-error': !raceForm.name.$pristine && raceForm.name.$invalid, 'has-success': !raceForm.name.$invalid && !raceForm.name.$pristine}")
					label(class="control-label") {{'Nom' | translate}}
					input(class="form-control" type="text" name="name" placeholder="{{'ex: Triathlon de Paris' | translate}}" ng-model="race.name" ng-required="true")
				
				div(class="form-group" ng-class="{'has-error':!raceForm.date.$pristine && raceForm.date.$invalid, 'has-success': !raceForm.date.$invalid && !raceForm.date.$pristine}")
					label(class="control-label") {{'Date' | translate}}
					input(type="text" class="form-control" ng-model="race.date" name="date" bs-datepicker date-format="dd MMMM yyyy" placeholder="Date")

				div(class="form-group" ng-class="{'has-error': !raceForm.place.$pristine && raceForm.place.$error.validLocation && raceForm.place.$invalid, 'has-success': !raceForm.place.$error.validLocation && raceForm.place.$valid  && !raceForm.place.$pristine}")
					label(class="control-label") {{'Lieu' | translate}}
					input(class="form-control" type="text" name="place" placeholder="{{'ex: Paris' | translate}}" ng-model="race.place.name" nr-has-location gmaps-autocomplete options="options" details="race.place" ng-required="true")
							
				div(class="form-group" ng-class="{'has-error': !raceForm.type.$pristine && raceForm.type.$invalid, 'has-success': !raceForm.type.$invalid && !raceForm.type.$pristine}")
					label(class="control-label") {{'Type' | translate}}
					select(class="form-control" class="form-control" name="type" ng-model="race.type" ng-options="type.name as gettextCatalog.getString(type.name) for type in types" ng-required="true")
						option(value="") {{'Sélectionner...' | translate}}

				div(class="form-group" ng-class="{'has-error': !raceForm.distanceType.$pristine && raceForm.distanceType.$invalid, 'has-success': !raceForm.distanceType.$invalid && !raceForm.distanceType.$pristine}")
					label(class="control-label") {{'Distance' | translate}}
					select(class="form-control" name="distanceType" ng-model="race.distanceType" ng-options="distance.name as distance.label for distance in types | distanceTypeFilter:race.type" ng-required="true")
						option(value="") {{'Sélectionner...' | translate}}
						
				button(class="btn btn-primary pull-right" ng-click="submit()" ng-disabled="raceForm.$invalid" translate) Continuer
			