div(class="container")
	h3(translate) Création d'une manifestation
	div(class="row")
		div(class="col-lg-12")
			include ./templates/raceForm
			button(class="btn btn-primary" ng-click="submit()" ng-disabled="raceForm.$invalid" translate) Continuer
			//tabset(horizontal="true" type="navType")
			//	tab(heading="{{'Informations' | translate}}" active="tabs[0].active" disabled="tabs[0].disabled")

			//	tab(heading="Confirmation" ng-hide="isLoggedIn()" active="tabs[1].active" disabled="tabs[1].disabled")
			//		div(ng-show="accountExists")
			//			include ../auth/login
			//		div(ng-hide="accountExists")
			//			include ../auth/signup