div(class="container")
	div(class="row")
		div(class="pull-right")
			button(class="btn btn-default" ng-click="cancel()") {{'Annuler' | translate}}
			button(class="btn btn-primary" ng-click="submit(race)") {{'Sauvegarder' | translate}}
	h1
		a(href="#" editable-text="race.name" e-required) {{ race.name || 'Non communiqué' }}
		
	div(class="row")
		div(class="col-md-4")
			h4(class="text-left")
				a(href="#" e-required e-placeholder="{{'ex: Paris' | translate}}" ng-model="race.pin.name"  e-details="race.pin" e-nr-has-location  e-options="options" e-gmaps-autocomplete e-name="location" editable-text="race.pin.name") {{ race.pin.name || 'Non communiqué' }} ({{ race.pin.department.code || '' }})
		div(class="col-md-4 col-md-offset-4")
			h4(class="text-right")
				a(href="#" e-required editable-bsdate="race.date" e-datepicker-popup="dd-MMMM-yyyy") {{ (race.date | date:"dd MMMM yyyy") || 'Non communiqué' }}
	hr
	div(class="row text-center")
		div(class="col-md-4")
			h3
				a(href="#" e-required editable-select="race.type" e-ng-options="type.name as gettextCatalog.getString(type.name) for type in types") {{ race.type }}
			span(class"small" translate) type
		div(class="col-md-4")
			h3
				a(href="#" e-required editable-select="race.distanceType" e-ng-options="distance.name as distance.label for distance in types | distanceTypeFilter:race.type") {{ race.distanceType }}
			span(class"small" translate) distance
		div(class="col-md-4")
			div(class="row")
				div(class="col-md-8 col-md-offset-4")
					div(class="row")
						a(href ng-click="openFeedbackModal(race._id)")
							i.glyphicon.glyphicon-thumbs-down
							span  {{'Signaler une erreur' | translate}}
					div(class="row")
						a(href editable-text="race.organizerWebSite" e-type="url" e-target="_blank")
							i.glyphicon.glyphicon-info-sign
							span {{race.organizerWebSite || 'Non communiqué'}}
					div(class="row")
						a(href)
							div(class="fb-like" data-href="http://www.nextrun.fr/races/view/{{race._id}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false")

	div(ng-if="race.description")
		h2 {{'Présentation' | translate}}
		hr
		div.well(ng-bind-html="race.description")
	h2 {{'Parcours' | translate}}
	hr
	div(class="row")
		div(class="col-lg-12")
			tabset
				tab(ng-repeat="route in routesViewModel" heading="{{route.getType()}}" ng-click="route.setVisible(true)")
					div(ng-if="route.description")
						h4 <strong>{{'Présentation' | translate}}</strong>
						div(class="well" ng-bind-html="route.description")

					div(class="btn-group")
						button(type="button" class="btn btn-default" translate) Action
						button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown")
							span(class="caret")
							span(class="sr-only" translate) Toggle Dropdown
						ul(class="dropdown-menu" role="menu")
							li
								a(href="" ng-click="editRoute(route, $index)" translate) Modifier
							li
								nr-download(id="content" get-data="exportGPX(route)")

					include showMap
					div(class="row text-center")
						div(class="col-lg-4")
							h3 {{ route.getDistance() | number: 2}}
								small km
							span.small {{ 'Distance' | translate}}
						div(class="col-lg-4")
							h3 {{route.getAscendant() | number: 0 }}
								small m
							span.small {{ 'D+' | translate}}
						div(class="col-lg-4")
							h3 {{route.getDescendant() | number: 0 }}
								small m
							span.small {{ 'D-' | translate}}
						div(class="col-lg-4")
							h3 {{route.getMaxElevation() | number: 0 }}
								small m
							span.small {{ 'Max' | translate}}
						div(class="col-lg-4")
							h3 {{route.getMinElevation() | number: 0 }}
								small m
							span.small {{ 'Min' | translate}}
	h2 {{'Organisation' | translate}}
	hr
	div.row
		div.col-lg-12
			include templates/viewOrganisation