div(class="modal-header")
	h3(class="modal-title" translate) Inscription
div(class="modal-body")
	form(role="form" name="registrationForm" novalidate)
		tabset
			tab(heading="{{'Général'| translate}}")
				div(class="row")
					div(class="col-md-4")
						label(for="openingDate" translate) Date d'ouverture
						div(id="openingDate" class="form-group" ng-class="{'has-error': !registrationForm.openingDate.$pristine && registrationForm.openingDate.$invalid, 'has-success': !registrationForm.openingDate.$pristine && !registrationForm.openingDate.$invalid}")
							input(type="text" name="openingDate" class="form-control" size="10" ng-model="registration.openingDate" data-autoclose="1" placeholder="{{ 'Ouverture' | translate }}" bs-datepicker ng-required="true")
					div(class="col-md-4")
						label(for="closingDate" translate) Date de fermeture
						div(id="closingDate" class="form-group" ng-class="{'has-error': !registrationForm.closingDate.$pristine && registrationForm.closingDate.$invalid, 'has-success': !registrationForm.closingDate.$pristine && !registrationForm.closingDate.$invalid}")
							input(type="text" name="closingDate" class="form-control" size="10" ng-model="registration.closingDate" data-autoclose="1" placeholder="{{ 'Fermeture' | translate }}" bs-datepicker ng-required="true")
				div(class="row")
					div(class="col-md-4")
						label(for="limitedPlaces" translate) Nombre de places
						div(id="limitedPlaces" class="form-group" ng-class="{'has-error': !registrationForm.limitedPlaces.$pristine && registrationForm.limitedPlaces.$invalid, 'has-success': !registrationForm.limitedPlaces.$pristine && !registrationForm.limitedPlaces.$invalid}")
							input(type="number" name="limitedPlaces" min="0" class="form-control" ng-model="registration.limitedPlaces" placeholder="{{ 'Nombre de places' | translate }}" ng-required="true")
				hr
				div(class="row")
					div(class="col-md-8")
						div(class="form-group")
							label(translate) Inscription en ligne
							input(type="url" class="form-control" ng-model="registration.webSite" placeholder="{{ 'Site web' | translate }}" ng-required="false")
				hr
				div(class="row")
					div(class="col-md-8")
						div(class="form-group")
							label(translate) Inscription par courrier
							textarea(type="text" class="form-control" cols="100" rows="4" maxlength="250" ng-model="registration.address" placeholder="{{ 'Adresse postale' | translate }}" ng-required="false")
				hr
				div(class="row")
					div(class="col-md-4")
						div(class="form-group")
							div(class="checkbox")
							label
								input(type="checkbox" ng-model="registration.registrationOnPlace" translate ng-required="false")
								&nbsp;Inscription sur place
			tab(heading="{{'Formules'| translate}}")
				div(class="row")
					div(class="col-md-12")
						button(type="button" class="btn btn-default btn-lg" ng-click="addOption()")
							span(class="glyphicon glyphicon-plus")
						table(class="table table-hover")
							thead
								tr
									th(translate) Formule
									th(translate) Prix
									th(translate) Description
							tbody
								tr(ng-repeat="option in registration.options" ng-form="optionsForm")
									td
										div(class="form-group" ng-class="{'has-error': !optionsForm.name.$pristine && optionsForm.name.$invalid, 'has-success': !optionsForm.name.$pristine && !optionsForm.name.$invalid}")
											input(type="text" name="name" placeholder="{{'Formule' | translate }}" class="form-control" ng-model="option.name" ng-required="true")
									td
										div(class="form-group" ng-class="{'has-error': !optionsForm.price.$pristine && optionsForm.price.$invalid, 'has-success': !optionsForm.price.$pristine && !optionsForm.price.$invalid}")
											input(type="number" min="0" name="price" placeholder="{{'Prix' | translate }}" class="form-control" ng-model="option.price" ng-required="true")
									td
										div(class="form-group" ng-class="{'has-error': !optionsForm.description.$pristine && optionsForm.description.$invalid, 'has-success': !optionsForm.description.$pristine && !optionsForm.description.$invalid}")
											textarea(name="description" cols="100" rows="4" maxlength="250" placeholder="{{'Description' | translate }}"  class="form-control" ng-model="option.description" ng-required="true")
									td
										div(class="form-group")
											button(type="button" class="btn btn-default btn-lg" ng-click="deleteOption(option)")
												span(class="glyphicon glyphicon-trash")
div(class="modal-footer")
	button(class="btn btn-primary" ng-click="submit()" ng-disabled="registrationForm.$invalid" translate) Valider
	button(class="btn btn-default" ng-click="cancel()" translate) Annuler