div(class="container")
	h3 {{'Editer la manifestation' | translate}}
	div(class="row")
		div(class="col-lg-offset-8 col-lg-4" ng-show="loading")
			span(class="fa fa-spinner fa-spin")
			span  {{'Chargement...' | translate}}

		accordion
			accordion-group(heading="{{'Général' | translate}}")
				include ./templates/raceForm
			accordion-group(heading="{{'Parcours' | translate}}")
				//div.bs-callout.bs-callout-info
				//	h4 {{'Informations' | translate}}
				//	p {{'Ajouter la description de votre manifestation' | translate}}
				
				//div.row
				//	div.col-lg-2 
				//		h4 {{'Description' | translate}}
				//	div.col-lg-2.col-lg-offset-10
				//		i.fa.fa-pencil.fa-2
				//div.well(ng-bind-html="race.description")
				
				
				//div(text-angular ng-model="race.description")

				//div.form-group
				//	label.col-lg-4.control-label(translate) Description
				//	div.col-lg-12(text-angular ng-model="race.description")
				
				hr

				tabset
					tab(ng-repeat="route in routesViewModel" heading="{{route.getType()}}" ng-click="route.setVisible(true)")
						//div.bs-callout.bs-callout-info
						//	h4 {{'Informations' | translate}}
						//	p  {{'Ajouter des informations concernant le parcours' | translate}}
						//input(type="file" ng-model="$files" nr-file-select="onFileSelect($files, route)")
						//div.row
						//	div.col-lg-4(ng-show="pending")
						//		span(class="fa fa-spinner fa-spin")
						//		span  {{'Chargement en cours' | translate}}
						//hr
						include mapEditor

			accordion-group(heading="{{'Organisation' | translate}}")
				include templates/editOrganisation
		
		div.row
			div(class="col-lg-offset-4 col-lg-8")
				button(class="btn btn-default" ng-click="cancel()") {{'Annuler' | translate}}
				button(class="btn btn-primary" ng-click="submit(race)" ng-disabled="form1.$invalid") {{'Sauvegarder' | translate}}
				//div(ng-show="saving")
				//	span(class="fa fa-spinner fa-spin")
				//	span  {{'Sauvegarde en cours' | translate}}