div.container(style="padding-bottom: 50px;")
	h3 {{'Editer la manifestation' | translate}}
	div.row
		div.col-lg-offset-8.col-lg-4(ng-show="loading")
			span(class="fa fa-spinner fa-spin")
			span  {{'Chargement...' | translate}}
		div.col-lg-12
			include ./templates/raceForm
						
			div.row
				hr
				div.bs-callout.bs-callout-info
					h4 {{'Informations' | translate}}
					p {{'Ajouter la description de votre manifestation' | translate}}
				div.form-group
					label.col-lg-4.control-label(translate) Description
					div.col-lg-12(text-angular text-angular-name="description" ng-model="race.description" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default btn-xs" ta-toolbar-button-active-class="active")
			hr
			div.row
				div.col-lg-12
					tabset(vertical="false" type="navType")
						tab(ng-repeat="route in race.routes" heading="{{route.type}}" ng-click="route.isVisible=true")
							div.bs-callout.bs-callout-info
								h4 {{'Informations' | translate}}
								p  {{'Ajouter des informations concernant le parcours' | translate}}
							input(type="file" ng-model="$files" nr-file-select="onFileSelect($files, route)")
							div.row
								div.col-lg-4(ng-show="pending")
									span(class="fa fa-spinner fa-spin")
									span  {{'Chargement en cours' | translate}}
							hr
							include map
			h2 {{'Organisation' | translate}}
			hr
			include templates/editOrganisation
			hr
			div.row
				div.col-lg-offset-4.col-lg-8
					button.btn.btn-primary(ng-click="submit(race)" ng-disabled="form1.$invalid") {{'Sauvegarder' | translate}}
					button.btn.btn-default(ng-click="cancel()") {{'Annuler' | translate}}
					div(ng-show="saving")
						span(class="fa fa-spinner fa-spin")
						span  {{'Sauvegarde en cours' | translate}}