div(class="container")
	div(class="jumbotron")
		div(class="row")
			div(class="text-center")
				h2(translate) Ajouter une nouvelle manifestation
				hr
		div(class="row")
			div(class="col-lg-4")
				img(src="client/modules/home/images/show_screenshot.png" class="workflowImage")
				h2(translate class="text-center") Ajouter
				p(translate class="text-center") Editer le parcours
			div(class="col-lg-4")
				img(src="client/modules/home/images/show_screenshot.png" class="workflowImage")
				h2(translate class="text-center") Editer
				p(translate class="text-center") Promouvoir votre manifestation
			div(class="col-lg-4")
				img(src="client/modules/home/images/show_screenshot.png" class="workflowImage")
				h2(translate class="text-center") Publier
				p(translate class="text-center") Tracer des parcours précis
		div(class="row")
			div(class="col-lg-2 col-lg-offset-10")
				button(class="btn btn-primary btn-lg" ng-click="createNewRace()" translate) Continuer
