ui-gmap-google-map(ng-if="routeViewModel.isVisible()" center="routeViewModel.getCenter()" options="routeViewModel.getOptions()" zoom="routeViewModel._zoom" refresh="true"  draggable="true" mark-click="true" class="gmapsEditor" events="routeViewModel.getEvents()")
	ui-gmap-markers(models="routeViewModel.getMarkers()" coords="'self'" icon="'icon'")
	ui-gmap-marker(idkey="cursorMarker.id" coords="cursorMarker" icon="cursorMarker.icon")
	ui-gmap-polylines(models="routeViewModel.getPolylines()" static="true" fit="true" path="'path'" stroke="'stroke'")