div(ng-if="route.isVisible()" id="map_canvas")
	ui-gmap-google-map(center="{latitude: 51.219053, longitude: 4.404418 }" options="{scrollwheel: false}" zoom="13" refresh="true" draggable="true" mark-click="true")
		
		//ui-gmap-markers(models="route.getMarkers()" coords="'self'" icon="'icon'" click="onMarkerClicked(marker)")
		//	ui-gmap-marker(ng-repeat="marker in route.markers" coords="marker" icon="marker.icon" click="onMarkerClicked(marker)")
		
		//	ui-gmap-marker(coords="cursorMarker" icon="cursorMarker.icon")
				
		//nr-polyline(polylines="route.getPolylines()")

	div(ng-show="route.isEditMode()" class="mapPanel")
		div.well
			form
				div(class="radio")
					label
						input(type="radio" ng-model="route.travelMode" ng-value="'DRIVING'" ) 
						span(translate) Suivre la route
				div(class="radio")
					label
						input(type="radio"  ng-model="route.travelMode" ng-value="'WALKING'") 
						span(translate) Suivre le chemin
				div(class="radio")
					label
						input(type="radio" ng-model="route.travelMode" ng-value="'NONE'") 
						span(translate) Segment direct
				div.button-group
					button.btn.btn-primary.btn-xs(ng-click="undo(route)")
						i.fa.fa-reply
						span(translate) Retour
					button.btn.btn-danger.btn-xs(ng-click="delete(route)")
						i.fa.fa-times
						span(translate) Effacer
				div
					h3 {{route.distance | number:2 }} km
				div
					span D+: {{route.ascendant | number:0 }} m
				div
					span D-: {{route.descendant | number:0 }} m
				div
					span Max: {{route.maxElevation | number:0 }} m
				div
					span Min: {{route.minElevation | number:0 }} m
	highchart(ng-hide="route.type === 'Natation'" config="route.getChartConfig()")

	div.form-group
		label.col-lg-4.control-label(translate) Ajouter une description à votre parcours
	div.col-lg-12(text-angular text-angular-name="description" ng-model="route.description" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default btn-xs" ta-toolbar-button-active-class="active")