google-map(ng-if="route.isVisible()" center="route.getCenter()" options="route.getOptions()" zoom="route._zoom" refresh="true"  draggable="true" mark-click="true" class="gmapsEditor" events="route.getEvents()")

	markers(models="route.getMarkers()" coords="'self'" icon="'icon'" click="onMarkerClicked(marker)")
		marker(ng-repeat="marker in route.getMarkers()" idKey="marker.id" coords="marker" icon="marker.icon" click="onMarkerClicked(marker)")

		marker(idKey="cursorMarker.id" coords="cursorMarker" icon="cursorMarker.icon")

	nr-polyline(polylines="route.getPolylines()")