div(ng-if="route.isVisible")
	google-map(center="route.center" options="route.options" zoom="route.zoom" refresh="true"  draggable="true" mark-click="true" style="height: 600px" events="route.events")
		
		markers(models="route.markers" coords="'self'" icon="'icon'" click="onMarkerClicked(marker)")
			marker(ng-repeat="marker in route.markers" coords="marker" icon="marker.icon" click="onMarkerClicked(marker)")
		
			marker(coords="cursorMarker" icon="cursorMarker.icon")
				
		nr-polyline(polylines="route.polylines")


	div(ng-show="route.editMode" style="padding: 5px; z-index: 0; position: absolute; top: 350px; right: 20px;")
		div.well
			form
				div(class="radio")
					label
						input(type="radio" ng-model="route.travelMode" ng-value="'DRIVING'" ) 
						span(translate) Suivre la route
				div(class="radio")
					label
						input(type="radio"  ng-model="route.travelMode" ng-value="'WALKING'") 
						span(translate) Suivre le chemin
				div(class="radio")
					label
						input(type="radio" ng-model="route.travelMode" ng-value="'NONE'") 
						span(translate) Segment direct
				div.button-group
					button.btn.btn-primary.btn-xs(ng-click="undo(route)")
						i.fa.fa-reply
						span(translate) Retour
					button.btn.btn-danger.btn-xs(ng-click="delete(route)")
						i.fa.fa-times
						span(translate) Effacer
				div
					h3 {{route.distance | number:2 }} km
				div
					span D+: {{route.ascendant | number:0 }} m
				div
					span D-: {{route.descendant | number:0 }} m
				div
					span Max: {{route.maxElevation | number:0 }} m
				div
					span Min: {{route.minElevation | number:0 }} m
	highchart(ng-hide="route.type === 'Natation'" config="route.chartConfig")

	div.form-group
		label.col-lg-4.control-label(translate) Ajouter une description à votre parcours
	div.col-lg-12(text-angular text-angular-name="description" ng-model="route.description" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default btn-xs" ta-toolbar-button-active-class="active")