div(class="container view-race")
  div(class="row")
    div(class="col-md-2")
      div(class="bs-sidebar hidden-print affix" role="complementary" data-offset-top="-120" data-offset-bottom="240" bs-affix bs-scrollspy-list)
        ul(id="menu" class="list-group")
          a(ng-class="{'active': active === 'general'}" ng-click="status.open = true;active = 'general'" nr-scroll-to="general" class="list-group-item")
            h4(class="list-group-item-heading" translate) Général
          a(ng-click="status.open = true" nr-scroll-to="routes" class="list-group-item")
            h4(class="list-group-item-heading" translate) Parcours
            a(ng-class="{'active': active === (routeViewModel.getType() + $index)}" bs-scrollspy ng-click="status.open = false;setSelection(routeViewModel, $index);route.setVisible(true)" ng-repeat="routeViewModel in routesViewModel" nr-scroll-to="route{{$index}}" class="list-group-item") {{routeViewModel.getType()}}
          a(class="list-group-item")
            h4(class="list-group-item-heading" translate) Organisation
            a(ng-class="{'active': active === 'registration'}" bs-scrollspy ng-click="status.open = false;selection = 'registration';active = 'registration'" nr-scroll-to="registration" class="list-group-item") Inscription
            a(ng-class="{'active': active === 'schedule'}" bs-scrollspy ng-click="status.open = false;selection = 'schedule';active = 'schedule'" nr-scroll-to="schedule" class="list-group-item") Programme
          a(ng-class="{'active': active === 'rights'}" bs-scrollspy ng-click="status.open = false;selection = 'rights';active = 'rights'" nr-scroll-to="rights" class="list-group-item") 
            h4(class="list-group-item-heading" translate) Règlement
          a(ng-class="{'active': active === 'results'}" bs-scrollspy ng-click="status.open = false;selection = 'results';active = 'results'" nr-scroll-to="results" class="list-group-item")
            h4(class="list-group-item-heading" translate) Résultats
          a(ng-class="{'active': active === 'misc'}" bs-scrollspy ng-click="status.open = false;selection = 'misc';active = 'misc'" nr-scroll-to="misc" class="list-group-item")
            h4(class="list-group-item-heading" translate) Divers


    div(class="col-md-10")
      div(class="bs-docs-section")
        div(id="general")
        accordion
          accordion-group(is-open="status.open")
            accordion-heading {{race.name}}
              i(ng-if="editMode" class="fa fa-pencil-square-o")
              div(class="pull-right")
                div.fb-like( data-href="http://www.nextrun.fr/races/view/{{race._id}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false")
                i(class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}")
            h5(class="text-left") {{race.date | date:'dd MMMM yyyy'}}
            div(class="row")
              div(class="col-md-6")
                div(class="row")
                  div(class="col-md-12")
                    img(src="" alt="" class="img-thumbnail img-responsive" style="width: 240px; height: 280px;")
                hr
                div(class="row")
                  div(class="col-md-12")
                    i(class="fa fa-clock-o fa-3")
                    span 
                    span Départ: {{race.schedule.events[0].date | date:'HH:mm'}}
              div(class="col-lg-6")
                div(class="row text-center")
                  div(class="col-md-6")
                    h4 {{race.type}}
                    span(class"small" translate) type
                  div(class="col-md-6")
                    h4 {{race.distanceType}}
                    span(class"small" translate) distance
                hr
                div(class="row")
                  div(class="col-lg-8 col-lg-offset-4")
                    i(class="fa fa-map-marker fa-3")
                    span 
                    span {{ race.pin.name || 'Non communiqué' }} ({{ race.pin.department.code || '' }})
                div(class="row")
                  div(ng-if="race.plan.location" class="col-lg-8 col-lg-offset-4 address-map-container")
                    google-map(center="race.plan.location" zoom="17")

      div(class="bs-docs-section")
        div(ng-repeat="routeViewModel in routesViewModel" ng-if="selection === (routeViewModel.getType() + $index) && routeViewModel.isVisible()")
          div(class="panel panel-default")
            div(class="panel-heading clearfix") 
              h4(class="panel-title pull-left") {{routeViewModel.getType()}}
              div(class="btn-group pull-right")
                nr-download(ng-if="!editMode" id="content" get-data="exportGPX(routeViewModel)" class="btn btn-default btn-sm")
                a(ng-if="editMode" ng-click="editRoute(routeViewModel, $index)" class="btn btn-default btn-sm")
                  i(class="fa fa-pencil-square-o")
            div(class="panel-body")
                div(id="{{selection}}")
                  include map
                  highchart(ng-hide="routeViewModel.getType() === 'Natation'" config="routeViewModel.getChartConfig()")
                  div(class="row text-center")
                    div(class="col-lg-4")
                      h3 {{ routeViewModel.getDistance() | number: 2}}
                        small km
                      span.small {{ 'Distance' | translate}}
                    div(class="col-lg-4")
                      h3 {{routeViewModel.getAscendant() | number: 0 }}
                        small m
                      span.small {{ 'D+' | translate}}
                    div(class="col-lg-4")
                      h3 {{routeViewModel.getDescendant() | number: 0 }}
                        small m
                      span.small {{ 'D-' | translate}}
                    div(class="col-lg-4")
                      h3 {{routeViewModel.getMaxElevation() | number: 0 }}
                        small m
                      span.small {{ 'Max' | translate}}
                    div(class="col-lg-4")
                      h3 {{routeViewModel.getMinElevation() | number: 0 }}
                        small m
                      span.small {{ 'Min' | translate}}
        div(id="registration" ng-show="selection == 'registration'")
          div(class="panel panel-default")
            div(class="panel-heading clearfix") 
              h4(class="panel-title pull-left" translate) Inscription
              div(class="btn-group pull-right")
                a(ng-if="editMode" ng-click="editRegistration()" class="btn btn-default btn-sm")
                  i(class="fa fa-pencil-square-o")
            div(class="panel-body")
              include ./templates/viewRegistration
        div(id="schedule" ng-show="selection == 'schedule'")
          div(class="panel panel-default")
            div(class="panel-heading clearfix") 
              h4(class="panel-title pull-left" translate) Programme
              div(class="btn-group pull-right")
                a(ng-if="editMode" ng-click="editSchedule()" class="btn btn-default btn-sm")
                  i(class="fa fa-pencil-square-o")
            div(class="panel-body")
              include ./templates/viewSchedule
        div(id="rights" ng-show="selection == 'rights'")
          div(class="panel panel-default")
            div(class="panel-heading clearfix") 
              h4(class="panel-title pull-left" translate) Règlement
              div(class="btn-group pull-right")
                a(ng-if="editMode" ng-click="editRichTextEditor(race.rights, 'rights')" class="btn btn-default btn-sm")
                  i(class="fa fa-pencil-square-o")
            div(class="panel-body")
              div(ng-if="race.rights" class="well" ng-bind-html="race.rights")
              div(ng-if="!race.rights" class="well" translate) Non communiqué
        div(id="results" ng-show="selection == 'results'")
          div(class="panel panel-default")
            div(class="panel-heading clearfix") 
              h4(class="panel-title pull-left" translate) Résultats
            div(class="panel-body")
        div(id="misc" ng-show="selection == 'misc'")
          div(class="panel panel-default")
            div(class="panel-heading clearfix") 
              h4(class="panel-title pull-left" translate) Divers
              div(class="btn-group pull-right")
                a(ng-if="editMode" ng-click="editRichTextEditor(race.misc, 'misc')" class="btn btn-default btn-sm")
                  i(class="fa fa-pencil-square-o")
            div(class="panel-body")
              div(ng-if="race.misc" ng-bind-html="race.misc")
              div(ng-if="!race.misc" translate) Non communiqué







