div(class="container view-race")
  div(class="row")
    div(class="col-md-2")
      div(class="bs-sidebar hidden-print affix" role="complementary" data-offset-top="-110" data-offset-bottom="150" bs-affix bs-scrollspy-list)
        ul(id="menu" class="list-group")
          a(ng-class="{'active': active === 'general'}" ng-click="isCollapsed = false;active = 'general'" nr-scroll-to="general" class="list-group-item")
            h4(class="list-group-item-heading" translate) Général
          a(ng-click="isCollapsed = true" nr-scroll-to="routes" class="list-group-item")
            h4(class="list-group-item-heading" translate) Parcours
            a(ng-class="{'active': active === (routeViewModel.getType() + $index)}" bs-scrollspy ng-click="setSelection(routeViewModel, $index);routeViewModel.setVisible(true)" ng-repeat="routeViewModel in routesViewModel track by routeViewModel.data._id" nr-scroll-to="route{{$index}}" class="list-group-item") {{routeViewModel.getType()}}
          a(class="list-group-item")
            h4(class="list-group-item-heading" translate) Organisation
            a(ng-class="{'active': active === 'registration'}" bs-scrollspy ng-click="isCollapsed = true;selection = 'registration';active = 'registration'" nr-scroll-to="registration" class="list-group-item") Inscription
            a(ng-class="{'active': active === 'schedule'}" bs-scrollspy ng-click="isCollapsed = true;selection = 'schedule';active = 'schedule'" nr-scroll-to="schedule" class="list-group-item") Programme
          a(ng-class="{'active': active === 'rights'}" bs-scrollspy ng-click="isCollapsed = true;selection = 'rights';active = 'rights'" nr-scroll-to="rights" class="list-group-item") 
            h4(class="list-group-item-heading" translate) Règlement
          a(ng-class="{'active': active === 'results'}" bs-scrollspy ng-click="isCollapsed = true;selection = 'results';active = 'results'" nr-scroll-to="results" class="list-group-item")
            h4(class="list-group-item-heading" translate) Résultats
          a(ng-class="{'active': active === 'misc'}" bs-scrollspy ng-click="isCollapsed = true;selection = 'misc';active = 'misc'" nr-scroll-to="misc" class="list-group-item")
            h4(class="list-group-item-heading" translate) Divers


    div(class="col-md-10")
      div(class="bs-docs-section")
        div(id="general")
          nav(class="navbar navbar-default" role="navigation")
            div(class="container-fluid")
              div(class="collapse navbar-collapse")
                div(class="nav navbar-nav navbar-left")
                  nr-title(edit-mode="editMode" race="race")
                ul(class="nav navbar-nav navbar-right")
                  li(ng-if="!editMode")
                    a
                      div(class="fb-like ng-cloak" data-href="http://www.nextrun.fr/races/view/{{race._id}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false")
                  li(ng-if="!editMode")
                    a(ng-click="openFeedbackModal()")
                      span(class="glyphicon glyphicon-envelope" aria-hidden="true")
                  li
                    a(ng-click="isCollapsed = !isCollapsed")
                      span(ng-show="isCollapsed" class="glyphicon glyphicon-chevron-right" aria-hidden="true")
                      span(ng-show="!isCollapsed" class="glyphicon glyphicon-chevron-down" aria-hidden="true")
          div(collapse="isCollapsed" class="panel-body")
            div(class="row")
              div(class="col-md-6")
                div(class="row")
                  nr-date(edit-mode="editMode" race="race")
                  div(class="col-md-12")
                    img(ng-if="image" ng-src="{{image}}" alt="" class="img-thumbnail img-responsive" style="width: 240px; height: 280px;")
                    img(ng-if="!image" ng-src="client/modules/race/images/noImageAvailable.jpg" alt="" class="img-thumbnail img-responsive" style="width: 240px; height: 280px;")
                  div(class="crop-image")
                    a(class="btn btn-default btn-sm" nr-file-select)
                      i(class="fa fa-pencil-square-o")
                    input(type="file" id="fileInput" ng-hide="true")                    
                hr
                div(class="row")
                  div(class="col-md-12")
                    i(class="fa fa-clock-o fa-3")
                    span(translate) &nbsp; Départ: {{(race.schedule.events[0].date | date:'HH:mm') || 'non communiqué'}}
              div(class="col-lg-6")
                nr-type(edit-mode="editMode" race="race")
                hr
                nr-address(edit-mode="editMode" race="race")

              a(ng-if="editMode" class="btn btn-link" type="button" ui-sref="newRaceRoute({raceId: race._id})" translate) Ajouter un parcours
              //a(ng-if="editMode" class="btn btn-link" type="button" ng-click="uploadImage()" translate) Ajouter une image
              //input(type="file" ng-model="$files" nr-file-select="onFileSelect($files, routeViewModel)") Ajouter une image
              //

      div(class="bs-docs-section")
        div(ng-repeat="routeViewModel in routesViewModel track by routeViewModel.data._id" ng-if="selection === (routeViewModel.getType() + $index) && routeViewModel.isVisible()" )
          div(class="panel panel-default")
            div(class="panel-heading clearfix") 
              h4(class="panel-title pull-left") {{routeViewModel.getType()}}
              div(class="btn-group pull-right")
                a(id="content" nr-download nr-file-name="{{routeViewModel.data.name}}" get-data="exportGPX(routeViewModel)" class="btn btn-default btn-sm")
                  i(class="fa fa-download fa-3")
                a(ng-if="editMode" ng-click="editRoute(routeViewModel)" class="btn btn-default btn-sm")
                  i(class="fa fa-pencil-square-o")
                a(ng-if="editMode" ng-click="openDeleteConfirmation(routeViewModel)" class="btn btn-default btn-sm")
                  i(class="fa fa-trash")
            div(class="panel-body")
                div(id="{{selection}}")
                  include ./templates/map
                  highchart(ng-hide="routeViewModel.getType() === 'Natation'" config="routeViewModel.getChartConfig()")
                    
                  div(class="row text-center")
                    div(class="col-lg-4")
                      h3 {{ routeViewModel.getDistance() | number: 2}}
                        small km
                      span.small {{ 'Distance' | translate}}
                    div(class="col-lg-4")
                      h3 {{routeViewModel.getAscendant() | number: 0 }}
                        small m
                      span.small {{ 'D+' | translate}}
                    div(class="col-lg-4")
                      h3 {{routeViewModel.getDescendant() | number: 0 }}
                        small m
                      span.small {{ 'D-' | translate}}
                    div(class="col-lg-4")
                      h3 {{routeViewModel.getMaxElevation() | number: 0 }}
                        small m
                      span.small {{ 'Max' | translate}}
                    div(class="col-lg-4")
                      h3 {{routeViewModel.getMinElevation() | number: 0 }}
                        small m
                      span.small {{ 'Min' | translate}}
        div(id="registration" ng-show="selection == 'registration'")
          div(class="panel panel-default")
            div(class="panel-heading clearfix") 
              h4(class="panel-title pull-left" translate) Inscription
              div(class="btn-group pull-right")
                a(ng-if="editMode" ng-click="editRegistration()" class="btn btn-default btn-sm")
                  i(class="fa fa-pencil-square-o")
            div(class="panel-body")
              include ./templates/viewRegistration
        div(id="schedule" ng-show="selection == 'schedule'")
          div(class="panel panel-default")
            div(class="panel-heading clearfix") 
              h4(class="panel-title pull-left" translate) Programme
              div(class="btn-group pull-right")
                a(ng-if="editMode" ng-click="editSchedule()" class="btn btn-default btn-sm")
                  i(class="fa fa-pencil-square-o")
            div(class="panel-body")
              include ./templates/viewSchedule
        div(id="rights" ng-show="selection == 'rights'")
          div(class="panel panel-default")
            div(class="panel-heading clearfix") 
              h4(class="panel-title pull-left" translate) Règlement
              div(class="btn-group pull-right")
                a(ng-if="editMode" ng-click="editRichTextEditor(race.rights, 'rights')" class="btn btn-default btn-sm")
                  i(class="fa fa-pencil-square-o")
            div(class="panel-body")
              upload-button(ng-if="editMode" class="btn btn-primary btn-upload" url="{{'api/races/'+race._id+'/upload/rights'}}" param="file" accept="acceptTypes" multiple="allowMultiple" force-iframe-upload="forceIframeUpload" data="uploadData" on-upload="onUpload(files)" on-success="onGlobalSuccess(response)" on-error="onError(response)" on-complete="onComplete(response)" ) Télécharger un fichier
              div(ng-if="race.rights" class="well" ng-bind-html="race.rights")
              div(ng-if="!race.rights" class="well" translate) Non communiqué
        div(id="results" ng-show="selection == 'results'")
          div(class="panel panel-default")
            div(class="panel-heading clearfix") 
              h4(class="panel-title pull-left" translate) Résultats
            div(class="panel-body") 
        div(id="misc" ng-show="selection == 'misc'")
          div(class="panel panel-default")
            div(class="panel-heading clearfix") 
              h4(class="panel-title pull-left" translate) Divers
              div(class="btn-group pull-right")
                a(ng-if="editMode" ng-click="editRichTextEditor(race.misc, 'misc')" class="btn btn-default btn-sm")
                  i(class="fa fa-pencil-square-o")
            div(class="panel-body")
              div(ng-if="race.misc" ng-bind-html="race.misc")
              div(ng-if="!race.misc" translate) Non communiqué







