div.modal-header
	button.close(type="button",data-dismiss="modal" aria-hidden="true" ng-click="cancel()") &times;
	h4.modal-title(translate) Redirection
div.modal-body
	div.row
		div.col-lg-10
			label.control-label(translate) Souhaitez-vous éditer votre manifestation ?
			<b>{{race.name}}</b>
			button.btn.btn-default(type="button" ng-click="goToEdit()" translate) Editer maintenant
			button.btn.btn-primary(type="button" ng-click="goToMyRaces()" translate) Plus tard
div.modal-footer
