div(class="modal-header")
	h3(class="modal-title" translate) Description
div(class="modal-body")
	div(text-angular ng-model="content")
div(class="modal-footer")
	button(class="btn btn-primary" ng-click="submit()" translate) Valider
	button(class="btn btn-default" ng-click="cancel()" translate) Annuler