form(role="form" name="titleForm" novalidate)
	div(class="row")
		div(ng-if="!editMode || !edit" class="col-md-8")
			h4(class="text-left") {{race.name}}
		div(class="col-md-8" ng-if="editMode && edit" class="form-group" ng-class="{'has-error':!titleForm.title.$pristine && titleForm.title.$invalid, 'has-success': !titleForm.title.$invalid && !titleForm.title.$pristine}")
			input(type="text" class="form-control" ng-model="race.name" name="title"  placeholder="Title")
		div(ng-if="editMode && !edit" class="col-md-2")
			button(ng-click="toggleEdit()" class="btn btn-default btn-sm")
				i(class="fa fa-pencil-square-o")
		div(ng-if="editMode && edit" class="col-md-4")
			button(ng-click="update()" ng-disabled="titleForm.$invalid" class="btn btn-primary btn-sm")
				i(class="fa fa-check")
			button(ng-click="cancel()" class="btn btn-default btn-sm")
				i(class="fa fa-remove")