div.container
	h1 {{race.name}}
		small  ({{race.pin.department.code}})
	h4.text-right {{race.date | date:'dd MMMM yyyy'}}
	div.row
		div(ng-show="loading")
			span(class="fa fa-spinner fa-spin")
			span {{'Chargement...' | translate}}
	hr
	div.row.text-center
		div.col-md-4
			h3 {{race.type.i18n}}
			span.small(translate) type
		div.col-md-4
			h3 {{race.distanceType.name}}
			span.small(translate) distance
		div.col-md-4
			div.row
				div.col-md-8.col-md-offset-4
					table.table
						tbody
							tr
								td(class="rowBasic")
									a(ng-click="openFeedbackModal(race._id)") 
										i.glyphicon.glyphicon-thumbs-down 
										span  {{'Signaler une erreur' | translate}}
							tr(ng-if="race.organizerWebSite")
								td(class="rowBasic")
									a(ng-href="{{race.organizerWebSite}}" nr-add-http target="_blank")
										i.glyphicon.glyphicon-info-sign
										span {{race.organizerWebSite}}
							tr
								td(class="rowBasic")
									div.fb-like(data-href="http://www.nextrun.fr/races/view/{{race._id}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false")
	div(ng-if="race.description")
		h2 {{'Présentation' | translate}}
		hr
		div.well(ng-bind-html="race.description")
	h2 {{'Parcours' | translate}}
	hr
	div.row
		div.col-lg-12
			tabset(vertical="false" type="navType")
				tab(ng-repeat="route in race.routes" heading="{{route.type}}" ng-click="onChangeTab(route)")
					div(ng-if="route.description")
						h4 <strong>{{'Présentation' | translate}}</strong>
						div.well(ng-bind-html="route.description")
					include showMap
					div.row.text-center
						div.col-lg-4
							h3 {{ route.distance | number: 2}}
								small km
							span.small {{ 'Distance' | translate}}
						div.col-lg-4
							h3 {{route.ascendant | number: 0 }}
								small m
							span.small {{ 'D+' | translate}}
						div.col-lg-4
							h3 {{route.descendant | number: 0 }}
								small m
							span.small {{ 'D-' | translate}}
						div.col-lg-4
							h3 {{route.maxElevation | number: 0 }}
								small m
							span.small {{ 'Max' | translate}}
						div.col-lg-4
							h3 {{route.minElevation | number: 0 }}
								small m
							span.small {{ 'Min' | translate}}
	h2 {{'Organisation' | translate}}
	hr
	div.row
		div.col-lg-12
			include templates/viewOrganisation