div(class="container view-race")
  div(class="row")
    div(class="col-md-2")
      div(class="bs-sidebar hidden-print affix" role="complementary" data-offset-top="-120" data-offset-bottom="240" bs-affix bs-scrollspy-list)
        ul(id="menu" class="list-group")
          a(ng-click="status.open = true;" scroll-to="general" class="list-group-item")
            h4(class="list-group-item-heading" translate) Général
          a( ng-click="status.open = true" scroll-to="routes" class="list-group-item")
            h4(class="list-group-item-heading" translate) Parcours
            a(ng-class="{'active': selection === (route.getType() + $index)}" bs-scrollspy ng-click="status.open = false;setSelection(route, $index);route.setVisible(true)" ng-repeat="route in routesViewModel" scroll-to="route{{$index}}" class="list-group-item") {{route.getType()}}
          a(ng-class="{'active': selection === 'organisation'}" bs-scrollspy ng-click="status.open = false;selection = 'organisation'" scroll-to="organisation" class="list-group-item")
            h4(class="list-group-item-heading" translate) Organisation
          a(ng-class="{'active': selection === 'rights'}" bs-scrollspy ng-click="status.open = false;selection = 'rights'" scroll-to="rights" class="list-group-item") 
            h4(class="list-group-item-heading" translate) Règlement
          a(ng-class="{'active': selection === 'misc'}" bs-scrollspy ng-click="status.open = false;selection = 'misc'" scroll-to="misc" class="list-group-item")
            h4(class="list-group-item-heading" translate) Divers

    div(class="col-md-8")
      div(class="bs-docs-section")
        div(class="page-header")
          div(id="general")
          accordion
            accordion-group(is-open="status.open")
              accordion-heading {{race.name}}
                i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}")
              h5(class="text-left") {{race.date | date:'dd MMMM yyyy'}}

      div(class="bs-docs-section")
        div(class="page-header")
          div(class="panel panel-default")
            div(class="panel-body")
              div(ng-repeat="route in routesViewModel")
                div(ng-if="selection === (route.getType() + $index) && route.isVisible()")
                  h3(id="{{selection}}") {{route.getType()}}
                  include showMap
                  div(class="row text-center")
                    div(class="col-lg-4")
                      h3 {{ route.getDistance() | number: 2}}
                        small km
                      span.small {{ 'Distance' | translate}}
                    div(class="col-lg-4")
                      h3 {{route.getAscendant() | number: 0 }}
                        small m
                      span.small {{ 'D+' | translate}}
                    div(class="col-lg-4")
                      h3 {{route.getDescendant() | number: 0 }}
                        small m
                      span.small {{ 'D-' | translate}}
                    div(class="col-lg-4")
                      h3 {{route.getMaxElevation() | number: 0 }}
                        small m
                      span.small {{ 'Max' | translate}}
                    div(class="col-lg-4")
                      h3 {{route.getMinElevation() | number: 0 }}
                        small m
                      span.small {{ 'Min' | translate}}
              div(ng-show="selection == 'organisation'")
                h1(id="organisation") organisation
              div(ng-show="selection == 'rights'") 
                h1(id="rights") règlement
                div(ng-if="race.rights.moreInformation" class="well" ng-bind-html="race.rights.moreInformation")
                div(ng-if="!race.rights.moreInformation" class="well" translate) Non communiqué
              div(ng-show="selection == 'misc'")
                h1(id="misc") divers
                div(ng-if="race.miscellaneous.moreInformation" ng-bind-html="race.miscellaneous.moreInformation")
                div(ng-if="!race.miscellaneous.moreInformation" translate) Non communiqué
