div(class="container")
  div(class="row")
    nav.col-sm-2.bs-docs-sidebar
      ul#sidebar.nav.nav-stacked.fixed
        li(data-target="#general" bs-scrollspy)
          a(href='' ng-click="scrolltoHref('general')") General
        li(data-target="#GroupA" bs-scrollspy)
          a(href='' ng-click="scrolltoHref('GroupA')") Group A
          ul.nav.nav-stacked
            li(data-target="#GroupASub1" bs-scrollspy)
              a(href='' ng-click="scrolltoHref('GroupASub1')") Sub-Group 1
            li(data-target="#GroupASub2" bs-scrollspy)
              a(href='' ng-click="scrolltoHref('GroupASub2')" ) Sub-Group 2
        li(data-target="#GroupB" bs-scrollspy)
          a(href='' ng-click="scrolltoHref('GroupB')" ) Group B
          ul.nav.nav-stacked
            li(data-target="#GroupBSub1" bs-scrollspy)
              a(href='' ng-click="scrolltoHref('GroupBSub1')") Sub-Group 1
            li(data-target="#GroupBSub2" bs-scrollspy)
              a(href='' ng-click="scrolltoHref('GroupBSub2')") Sub-Group 2
        li(data-target="#GroupC" bs-scrollspy)
          a(href='' ng-click="scrolltoHref('GroupC')" ) Group C
          ul.nav.nav-stacked
            li(data-target="#GroupCSub1" bs-scrollspy)
              a(href='' ng-click="scrolltoHref('GroupCSub1')" ) Sub-Group 1
            li(data-target="#GroupCSub2" bs-scrollspy)
              a(href='' ng-click="scrolltoHref('GroupCSub2')") Sub-Group 2

    div(class="col-sm-10")
      section(id="general" class="group")
         accordion
            accordion-group(is-open="status.open")
              accordion-heading {{race.name | translate}}
                  small ({{race.pin.department.code}})
                  i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}")
              
              div(class="row text-center")
                div(class="col-md-8")
                  img(src="" alt="" class="img-thumbnail img-responsive" style="width: 380px; height: 440px;")
                div(class="col-md-2")
                  h3 {{race.type}}
                  span(class"small" translate) type
                div(class="col-md-2")
                  h3 {{race.distanceType}}
                  span(class"small" translate) distance

      section(id="GroupA" class="group")
        h3 Group A
        div(id="GroupASub1" class="subgroup")
          h4 Group A Sub 1
          div(id="GroupASub2" class="subgroup")
            h4 Group A Sub 2

      section(id="GroupB" class="group")
        h3 Group B
        div(id="GroupBSub1" class="subgroup")
          h4 Group B Sub 1
          div(id="GroupBSub2" class="subgroup")
            h4 Group B Sub 2

      section(id="GroupC" class="group")
        h3 Group C
        div(id="GroupCSub1" class="subgroup")
          h4 Group C Sub 1
          div(id="GroupCSub2" class="subgroup")
            h4 Group C Sub 2


