extends ./layouts/layout2

block body

	body(data-status="{{status}}")

		div(id="wrap")

			div(id="fb-root")

			include ./layouts/header

			include ./layouts/messages

			div.ng-cloak(data-ng-cloak, class="view-container")
				div(id="main" data-ng-view, class="view-frame ng-cloak")

		div.ng-cloak(id="footer" , data-ng-cloak data-ng-controller="FooterController")
			include ./layouts/footer