extends ./layouts/layout

block body

	body(ng-controller='MainCtrl')

		include ./layouts/header

		include ./layouts/messages
		div.ng-cloak(ng-cloak class="view-container")
			div(ng-view class="view-frame ng-cloak")

		div.ng-cloak(ng-cloak ng-controller="FooterCtrl" ng-show="hideFooter")
			include ./layouts/footer