extends ./layouts/layout

block body

	body(data-ng-controller='MainCtrl')

		div(id="wrap")

			div(id="fb-root")

			include ./layouts/header

			include ./layouts/messages

			
			
			div.ng-cloak(data-ng-cloak, class="view-container")
				div(id="main" data-ng-view, class="view-frame ng-cloak")

		div.ng-cloak(id="footer" , data-ng-cloak data-ng-controller="FooterCtrl")
			include ./layouts/footer