extends ./layouts/layout

block body

	include ./layouts/header

	include ./layouts/messages
	div(ng-cloak class="view-container")
		div(ng-view class="view-frame")

	div(ng-cloak)
		include ./layouts/footer
