!!! 5
html(ng-app="nextrunApp")
	<!-- build:js js/client/widgets/google-analytics.min.js -->
	script(src="/js/client/widgets/google-analytics.js", charset="UTF-8")
	<!-- endbuild -->
	head
		block head
			block meta
				meta(charset='utf8')
				meta(name='description', content='')
				meta(name='keywords', content='')
				base(href='/')
			block title
				title Nextrun
				
	block body