!!! 5
html(ng-app="nextrunApp")

	<!-- build:js /js/widgets/google-analytics.min.js -->
	script(src="/js/widgets/google-analytics.js", charset="UTF-8")
	<!-- endbuild -->

	head
		link(rel="icon", type="image/png",  href="/img/logo_officiel.png")

		<!-- build:css /css/font-awesome.min.css -->
		link(rel="stylesheet", href="/bower_components/font-awesome/css/font-awesome.css")
		<!-- endbuild -->

		<!-- build:css /css/bootstrap.min.css -->
		link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
		<!-- endbuild -->

		<!-- build:css /css/docs.min.css -->
		link(rel="stylesheet", href="/css/docs.css")
		<!-- endbuild -->

		<!-- build:css /css/style.min.css -->
		link(rel="stylesheet", href="/css/style.css")
		<!-- endbuild -->

		<!-- build:css /css/sticky-footer.min.css -->
		link(rel="stylesheet", href="/css/sticky-footer.css")
		<!-- endbuild -->

		<!-- build:css /css/animations.min.css -->
		link(rel="stylesheet", href="/css/animations.css")
		<!-- endbuild -->

		<!-- build:css /css/googlemaps.min.css -->
		link(rel="stylesheet", href="/css/googlemaps.css")
		<!-- endbuild -->

		<!-- build:css /css/datetimepicker.min.css -->
		link(rel="stylesheet", href="/css/datetimepicker.css")
		<!-- endbuild -->

		<!-- build:css /css/daterangepicker-bs3.min.css -->
		link(rel="stylesheet", href="/css/daterangepicker-bs3.css")
		<!-- endbuild -->

		script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDO7NB1T_gtfTVVorh0jsUyaXNkWjHn958&sensor=false&v=3.13")	

		<!-- build:js /lib/jquery.min.js -->
		script(src="/bower_components/jquery/dist/jquery.js", charset="UTF-8")
		<!-- endbuild -->


		<!-- build:js /lib/i18next.min.js -->
		script(src="/bower_components/i18next/i18next.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/underscore.min.js -->
		script(src="/bower_components/underscore/underscore.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/angular.min.js -->
		script(src="/bower_components/angular/angular.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/angular-animate.min.js -->
		script(src="/bower_components/angular-animate/angular-animate.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/angular-sanitize.min.js -->
		script(src="/bower_components/angular-sanitize/angular-sanitize.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/angular-route.min.js -->
		script(src="/bower_components/angular-route/angular-route.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/angular-cookies.min.js -->
		script(src="/bower_components/angular-cookies/angular-cookies.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/ui-bootstrap-tpls.min.js -->
		script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/angular-google-maps.min.js -->
		script(src="/bower_components/angular-google-maps/dist/angular-google-maps.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/angular-gm.min.js -->
		script(src="/bower_components/AngularGM/angular-gm.js", charset="UTF-8")
		<!-- endbuild -->


		<!-- build:js /lib/highcharts.min.js -->
		script(src="/bower_components/highcharts.com/js/highcharts.src.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/highcharts-ng.min.js -->
		script(src="/bower_components/highcharts-ng/dist/highcharts-ng.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/routingConfig.js -->
		script(src="/js/routingConfig.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/xml2json.min.js -->
		script(src="/bower_components/x2js/xml2json.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/app.min.js -->
		script(src="/js/app.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/services.min.js -->
		script(src="/js/services/authServices.js", charset="UTF-8")
		script(src="/js/services/alertServices.js", charset="UTF-8")
		script(src="/js/services/contactServices.js", charset="UTF-8")
		script(src="/js/services/raceServices.js", charset="UTF-8")
		script(src="/js/services/routeServices.js", charset="UTF-8")
		script(src="/js/services/sharedCriteriaServices.js", charset="UTF-8")
		script(src="/js/services/fileReaderServices.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/directives.min.js -->
		script(src="/js/directives/mapDirectives.js", charset="UTF-8")
		script(src="/js/directives/multiselectDirectives.js", charset="UTF-8")
		script(src="/js/directives/dataRangePickerDirectives.js", charset="UTF-8")
		script(src="/js/directives/customValidatorDirectives.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/controllers.min.js -->
		script(src="/js/controllers/mainController.js", charset="UTF-8")
		script(src="/js/controllers/homeController.js", charset="UTF-8")
		script(src="/js/controllers/footerController.js", charset="UTF-8")
		script(src="/js/controllers/loginController.js", charset="UTF-8")
		script(src="/js/controllers/signupController.js", charset="UTF-8")
		script(src="/js/controllers/myRacesController.js", charset="UTF-8")
		script(src="/js/controllers/settingsController.js", charset="UTF-8")
		script(src="/js/controllers/headerController.js", charset="UTF-8")
		script(src="/js/controllers/createRaceController.js", charset="UTF-8")
		script(src="/js/controllers/editRaceController.js", charset="UTF-8")
		script(src="/js/controllers/viewRaceController.js", charset="UTF-8")
		script(src="/js/controllers/creditController.js", charset="UTF-8")
		script(src="/js/controllers/aboutController.js", charset="UTF-8")
		script(src="/js/controllers/contactController.js", charset="UTF-8")
		script(src="/js/controllers/raceHomeController.js", charset="UTF-8")
		script(src="/js/controllers/searchRaceController.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/bootstrap.min.js -->
		script(src="/bower_components/bootstrap/dist/js/bootstrap.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/moment-with-langs.min.js -->
		script(src="/bower_components/moment/min/moment-with-langs.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/daterangepicker.min.js -->
		script(src="/bower_components/bootstrap-daterangepicker/daterangepicker.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/datetimepicker.min.js -->
		script(src="/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/dateTimeInput.min.js -->
		script(src="/bower_components/angular-date-time-input/src/dateTimeInput.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/bootstrap-multiselect.min.js -->
		script(src="/bower_components/bootstrap-multiselect/js/bootstrap-multiselect.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/textAngular.min.js -->
		script(src="/lib/textAngular.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /lib/enums.min.js -->
		script(src="/lib/enum-0.2.5.js", charset="UTF-8")
		script(src="/js/constants/departments.js", charset="UTF-8")
		script(src="/js/constants/typeOfRaces.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/constants/regions.min.js -->
		script(src="/js/constants/regions.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/widgets/socialbuttons.min.js -->
		script(src="/js/widgets/socialbuttons.js", charset="UTF-8")
		<!-- endbuild -->


		<!-- build:js /js/directives/gmAutocompleteDirectives.min.js -->
		script(src="/js/directives/gmAutocompleteDirectives.js", charset="UTF-8")
		<!-- endbuild -->


		<!-- build:js /js/templates/angular-bootstrap-tpls-overrides.min.js -->
		script(src="/js/templates/angular-bootstrap-tpls-overrides.js", charset="UTF-8")
		<!-- endbuild -->

		script.
			moment.lang('fr');

		block head
			base(href="/")
			block meta
				meta(charset='utf8')
				meta(name='description', content='')
				meta(name='keywords', content='')
			block title
				title Nextrun		
	block body