!!! 5
html(ng-app="nextrunApp")

	<!-- build:js /js/client/widgets/google-analytics.min.js -->
	script(src="/js/client/widgets/google-analytics.js", charset="UTF-8")
	<!-- endbuild -->

	head
		link(rel="icon", type="image/png",  href="/img/logo.png")

		<!-- build:css /css/font-awesome-4.0.3/css/font-awesome.min.css -->
		link(rel="stylesheet", href="/css/font-awesome-4.0.3/css/font-awesome.css")
		<!-- endbuild -->

		<!-- build:css /css/bootstrap.min.css -->
		link(rel="stylesheet", href="/css/bootstrap.css")
		<!-- endbuild -->

		<!-- build:css /css/docs.min.css -->
		link(rel="stylesheet", href="/css/docs.css")
		<!-- endbuild -->

		<!-- build:css /css/style.min.css -->
		link(rel="stylesheet", href="/css/style.css")
		<!-- endbuild -->

		<!-- build:css /css/sticky-footer.min.css -->
		link(rel="stylesheet", href="/css/sticky-footer.css")
		<!-- endbuild -->

		<!-- build:css /css/animations.min.css -->
		link(rel="stylesheet", href="/css/animations.css")
		<!-- endbuild -->

		<!-- build:css /css/googlemaps.min.css -->
		link(rel="stylesheet", href="/css/googlemaps.css")
		<!-- endbuild -->

		<!-- build:css /css/datetimepicker.min.css -->
		link(rel="stylesheet", href="/css/datetimepicker.css")
		<!-- endbuild -->

		script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO7NB1T_gtfTVVorh0jsUyaXNkWjHn958&sensor=false&v=3.13")	

		<!-- build:js /js/libs/jquery-2.0.3.min.js -->
		script(src="/js/libs/jquery-2.0.3.js", charset="UTF-8")
		<!-- endbuild -->


		<!-- build:js /js/libs/i18next-1.7.1.min.js -->
		script(src="/js/libs/i18next-1.7.1.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/underscore.min.js -->
		script(src="/js/libs/underscore.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/angular.min.js -->
		script(src="/js/libs/angular.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/angular-animate.min.js -->
		script(src="/js/libs/angular-animate.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/angular-sanitize.min.js -->
		script(src="/js/libs/angular-sanitize.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/angular-route.min.js -->
		script(src="/js/libs/angular-route.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/angular-resource.min.js -->
		script(src="/js/libs/angular-resource.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/angular-cookies.min.js -->
		script(src="/js/libs/angular-cookies.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/ui-bootstrap-tpls-0.7.0.min.js -->
		script(src="/js/libs/ui-bootstrap-tpls-0.7.0.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/angular-google-maps.min.js -->
		script(src="/js/libs/angular-google-maps.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/angular-gm.min.js -->
		script(src="/js/libs/angular-gm.js", charset="UTF-8")
		<!-- endbuild -->


		<!-- build:js /js/libs/highcharts.min.js -->
		script(src="/js/libs/highcharts.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/highcharts-ng.min.js -->
		script(src="/js/libs/highcharts-ng.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/client/routingConfig.js -->
		script(src="/js/client/routingConfig.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/client/app.min.js -->
		script(src="/js/client/app.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/client/services.min.js -->
		script(src="/js/client/services/authServices.js", charset="UTF-8")
		script(src="/js/client/services/alertServices.js", charset="UTF-8")
		script(src="/js/client/services/contactServices.js", charset="UTF-8")
		script(src="/js/client/services/raceServices.js", charset="UTF-8")
		script(src="/js/client/services/routeServices.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/client/directives.min.js -->
		script(src="/js/client/directives/authDirectives.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/client/controllers.min.js -->
		script(src="/js/client/controllers/mainController.js", charset="UTF-8")
		script(src="/js/client/controllers/homeController.js", charset="UTF-8")
		script(src="/js/client/controllers/footerController.js", charset="UTF-8")
		script(src="/js/client/controllers/loginController.js", charset="UTF-8")
		script(src="/js/client/controllers/signupController.js", charset="UTF-8")
		script(src="/js/client/controllers/myRacesController.js", charset="UTF-8")
		script(src="/js/client/controllers/settingsController.js", charset="UTF-8")
		script(src="/js/client/controllers/headerController.js", charset="UTF-8")
		script(src="/js/client/controllers/createRaceController.js", charset="UTF-8")
		script(src="/js/client/controllers/editRaceController.js", charset="UTF-8")
		script(src="/js/client/controllers/viewRaceController.js", charset="UTF-8")
		script(src="/js/client/controllers/creditController.js", charset="UTF-8")
		script(src="/js/client/controllers/aboutController.js", charset="UTF-8")
		script(src="/js/client/controllers/contactController.js", charset="UTF-8")
		script(src="/js/client/controllers/raceHomeController.js", charset="UTF-8")
		script(src="/js/client/controllers/searchRaceController.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/bootstrap.min.js -->
		script(src="/js/libs/bootstrap.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/moment-with-langs.min.js -->
		script(src="/js/libs/moment-with-langs.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/datetimepicker.min.js -->
		script(src="/js/libs/datetimepicker.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/dateTimeInput.min.js -->
		script(src="/js/libs/dateTimeInput.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/raphael.min.js -->
		script(src="/js/libs/raphael.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/textAngular.min.js -->
		script(src="/js/libs/textAngular.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/enums.min.js -->
		script(src="/js/libs/enum-0.2.5.js", charset="UTF-8")
		script(src="/js/client/constants/departments.js", charset="UTF-8")
		script(src="/js/client/constants/typeOfRaces.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/client/widgets/socialbuttons.min.js -->
		script(src="/js/client/widgets/socialbuttons.js", charset="UTF-8")
		<!-- endbuild -->

		<!-- build:js /js/libs/bindonce.min.js -->
		script(src="/js/libs/bindonce.js", charset="UTF-8")
		<!-- endbuild -->

		script.
			moment.lang('fr');

		block head
			base(href="/")
			block meta
				meta(charset='utf8')
				meta(name='description', content='')
				meta(name='keywords', content='')
			block title
				title Nextrun		
	block body