!!! 5
html(ng-app="nextrunApp")
	head
		block head
			block meta
				meta(charset='utf8')
				meta(name='description', content='')
				meta(name='keywords', content='')
				base(href='/')
			block title
				title Nextrun
				
	block body